h3 {
    width: fit-content;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    margin: 0;
    color: black;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    div {
        label {
            // display: block;
            color: black;
            // font-size: 16px;
        }

        input {
            margin-top: 4px;
            width: 100%;
            padding: 10px 14px;
            border-radius: 8px;
            font-size: 13px;
            height: 41px;
        }

        textarea {
            margin-top: 4px;
            width: 100%;
            padding: 10px 14px;
            border-radius: 8px;
            font-size: 13px;
        }
    }

}

:host ::ng-deep {

    .p-button-contrast.p-button-outlined{
        border: solid 2px;
        font-weight: 700;

        &:hover,&:not(:disabled):hover, &:not(:disabled):active, &:active {
            border: solid 2px;
        }
    }

    .p-dialog {
        border-radius: 12px !important;
        overflow: hidden;

        .p-dialog-header {
            background-color: var(--primary-color);
            color: white;
            font-weight: 800;
            padding: 24px 30px;

            .p-dialog-title {
                font-size: 20px;

            }

            .p-dialog-header-icon {
                color: white;
            }
        }

        .p-dialog-content {
            padding: 30px 50px;
        }
    }

    .p-autocomplete.p-component.p-inputwrapper.p-autocomplete-dd.p-inputwrapper-filled {
        width: 100%;
        margin-top: 4px;

        .p-autocomplete-multiple-container {
            padding: 10px 14px;
            font-size: 13px;
            padding-right: 2rem;
            width: 100%;

            .p-autocomplete-input-token {
                padding: 0;
            }
        }
    }

    p-multiselectitem {
        font-size: 13px;
    }

    .p-dropdown {
        margin-top: 4px;
        width: 100%;
        border-radius: 8px;

        .p-inputtext {
            padding: 10px 14px;
            outline: none
        }
    }
}

:host ::ng-deep .p-multiselect {
    margin-top: 4px;
    min-height: 40px;
    width: 100%;
    border-radius: 8px;

    .p-multiselect-label-container {
        padding: 10px 14px;
        outline: none;

        .p-multiselect-label {
            padding: 0;
            font-size: 13px;
            align-content: end;
        }
    }
}

:host ::ng-deep p-button {
    margin: 0;

    .p-button {
        font-size: 14px;
        border-radius: 10px 0px 10px 10px;
        color: black;
    }

}