<button pButton pRiple (click)="showDialog()" type="button">
    <mage-icon name="plus" size="17px"></mage-icon>&nbsp; Agregar ejercicio </button>

<p-dialog header="Registro de ejercicio" [(visible)]="visible" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <form [formGroup]="ejercicioForm" (ngSubmit)="addEjercicio()">
        <div style="width:100%">
            <label for="maquinas" class="">Maquinas</label>
            <p-autoComplete formControlName="maquinas" [showEmptyMessage]="true" emptyMessage="No hay maquinas disponibles" [(ngModel)]="selectedMaquina" [dropdown]="true" [suggestions]="filteredMaquinas"
                (completeMethod)="filterMaquinas($event)" optionLabel="nombre" [ngClass]="{
                  'ng-dirty ng-invalid': ejercicioForm.getError('maquinas')
                }" [multiple]="true" [showClear]="true" />
            <small *ngIf="ejercicioForm.getError('maquinas')" class="ng-invalid text-red-600">
                {{ ejercicioForm.getError('maquinas') }}
            </small>
        </div>
        <div style="width:100%">
            <label for="rutinas" class="">Rutinas</label>
            <p-autoComplete formControlName="rutinas" [showEmptyMessage]="true" emptyMessage="No hay rutinas disponibles" [(ngModel)]="selectedRutina" [suggestions]="filteredRutinas" [dropdown]="true"
                (completeMethod)="filterRutinas($event)" optionLabel="nombre" [ngClass]="{
                  'ng-dirty ng-invalid': ejercicioForm.getError('rutinas')
                }" [multiple]="true" [showClear]="true" />
            <small *ngIf="ejercicioForm.getError('rutinas')" class="ng-invalid text-red-600">
                {{ ejercicioForm.getError('rutinas') }}
            </small>
        </div>
        <div style="width: calc(50% - 10px)">
            <label for="nombre" class="">Nombre ejercicio</label>
            <input id="nombre" type="text" placeholder=""
                [ngClass]="{'ng-dirty ng-invalid': ejercicioForm.getError('nombre')}" formControlName="nombre" pInputText />
            <small *ngIf="ejercicioForm.getError('nombre')" class="ng-invalid text-red-600">
                {{ ejercicioForm.getError('nombre') }}
            </small>
        </div>
    
        <div style="width: calc(50% - 10px)">
            <label for="nivel" class="">Nivel</label>
             <p-dropdown formControlName="nivel" optionLabel="name" [options]="Niveles"
                placeholder="Seleccione un nivel" [ngModel]="Niveles[0]"
                [ngClass]="{'ng-dirty ng-invalid': ejercicioForm.getError('nivel')}" />
            <small *ngIf="ejercicioForm.getError('nivel')" class="ng-invalid text-red-600">
                {{ ejercicioForm.getError('nivel') }}
            </small>
        </div>
    
        <div style="width: calc(33.33% - 14px)">
            <label for="nombre" class="">Repeticiones</label>
            <input id="repeticiones" type="text" placeholder=""
                [ngClass]="{'ng-dirty ng-invalid': ejercicioForm.getError('repeticiones')}" formControlName="repeticiones" pInputText />
            <small *ngIf="ejercicioForm.getError('repeticiones')" class="ng-invalid text-red-600">
                {{ ejercicioForm.getError('repeticiones') }}
            </small>
        </div>
    
        <div style="width: calc(33.33% - 13px)">
            <label for="series" class="">Series</label>
            <input id="series" type="text" placeholder=""
                [ngClass]="{'ng-dirty ng-invalid': ejercicioForm.getError('series')}" formControlName="series" pInputText />
            <small *ngIf="ejercicioForm.getError('series')" class="ng-invalid text-red-600">
                {{ ejercicioForm.getError('series') }}
            </small>
        </div>
    
        <div style="width: calc(33.33% - 13px)">
            <label for="descanso" class="">Descanso</label>
            <input id="descanso" type="text" placeholder=""
                [ngClass]="{'ng-dirty ng-invalid': ejercicioForm.getError('descanso')}" formControlName="descanso" pInputText />
            <small *ngIf="ejercicioForm.getError('descanso')" class="ng-invalid text-red-600">
                {{ ejercicioForm.getError('descanso') }}
            </small>
        </div>
        <div style="width: -webkit-fill-available">
            <label for="descripcion" class="">Descripción</label>
            <textarea id="descripcion" pInputTextarea [autoResize]="true" formControlName="descripcion" rows="3"
                [ngClass]="{'ng-dirty ng-invalid': ejercicioForm.getError('descripcion')}"></textarea>
            <small *ngIf="ejercicioForm.getError('descripcion')" class="ng-invalid text-red-600">
                {{ ejercicioForm.getError('descripcion') }}
            </small>
        </div>
        <div style="
          display: flex;
          gap: 20px;
          width: 100%;
          justify-content: end;
          margin-top: 10px;
        ">
            <p-button type="button" (onClick)="closedDialog()" [outlined]="true" label="Cancelar" id="reset" />
            <p-button type="submit" label="Registrar" id="guardar" />
        </div>
    </form>  
</p-dialog>
