<p-button [outlined]="true" severity="contrast" class="border-2" (onClick)="showDialog()">
    <mage-icon name="plus" strokeWidth="2.5px" size="17px"></mage-icon>&nbsp; Agregar ejercicio
</p-button>

<p-dialog header="Registro de ejercicio" [(visible)]="visible" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap">
                Formulario de Ejercicio
            </span>
        </div>
    </ng-template>
    <form [formGroup]="ejercicioForm" (ngSubmit)="addEjercicio()">
        <div style="width:calc(50% - 10px)">
            <label for="maquinas" class="">Maquinas</label>
            <p-multiSelect formControlName="maquinas" optionLabel="name" placeholder="Seleccione las maquinas"
                [showEmptyMessage]="true" emptyMessage="No hay maquinas disponibles"
                [ngClass]="{'ng-dirty ng-invalid': ejercicioForm.getError('maquinas')}" [options]="maquinas"
                [(ngModel)]="selectedMaquina" />
            <small *ngIf="ejercicioForm.getError('maquinas')" class="ng-invalid text-red-600">
                {{ ejercicioForm.getError('maquinas') }}
            </small>
        </div>
        <div style="width:calc(50% - 10px)">
            <label for="rutinas" class="">Rutinas</label>
            <p-multiSelect formControlName="rutinas" optionLabel="name" placeholder="Seleccione las rutinas"
                [showEmptyMessage]="true" emptyMessage="No hay rutinas disponibles"
                [ngClass]="{'ng-dirty ng-invalid': ejercicioForm.getError('rutinas')}" [options]="rutinas"
                [(ngModel)]="selectedRutina" />
            <small *ngIf="ejercicioForm.getError('rutinas')" class="ng-invalid text-red-600">
                {{ ejercicioForm.getError('rutinas') }}
            </small>
        </div>
        <div style="width: calc(50% - 10px)">
            <label for="nombre" class="">Nombre ejercicio</label>
            <input id="nombre" type="text" placeholder=""
                [ngClass]="{'ng-dirty ng-invalid': ejercicioForm.getError('nombre')}" formControlName="nombre"
                pInputText />
            <small *ngIf="ejercicioForm.getError('nombre')" class="ng-invalid text-red-600">
                {{ ejercicioForm.getError('nombre') }}
            </small>
        </div>

        <div style="width: calc(50% - 10px)">
            <label for="nivel" class="">Nivel</label>
            <p-dropdown formControlName="nivel" optionLabel="name" [options]="Niveles" placeholder="Seleccione un nivel"
                [ngModel]="Niveles[0]" [ngClass]="{'ng-dirty ng-invalid': ejercicioForm.getError('nivel')}" />
            <small *ngIf="ejercicioForm.getError('nivel')" class="ng-invalid text-red-600">
                {{ ejercicioForm.getError('nivel') }}
            </small>
        </div>

        <div style="width: calc(33.33% - 14px)">
            <label for="nombre" class="">Repeticiones</label>
            <input id="repeticiones" type="text" placeholder=""
                [ngClass]="{'ng-dirty ng-invalid': ejercicioForm.getError('repeticiones')}"
                formControlName="repeticiones" pInputText />
            <small *ngIf="ejercicioForm.getError('repeticiones')" class="ng-invalid text-red-600">
                {{ ejercicioForm.getError('repeticiones') }}
            </small>
        </div>

        <div style="width: calc(33.33% - 13px)">
            <label for="series" class="">Series</label>
            <input id="series" type="text" placeholder=""
                [ngClass]="{'ng-dirty ng-invalid': ejercicioForm.getError('series')}" formControlName="series"
                pInputText />
            <small *ngIf="ejercicioForm.getError('series')" class="ng-invalid text-red-600">
                {{ ejercicioForm.getError('series') }}
            </small>
        </div>

        <div style="width: calc(33.33% - 13px)">
            <label for="descanso" class="">Descanso</label>
            <input id="descanso" type="text" placeholder=""
                [ngClass]="{'ng-dirty ng-invalid': ejercicioForm.getError('descanso')}" formControlName="descanso"
                pInputText />
            <small *ngIf="ejercicioForm.getError('descanso')" class="ng-invalid text-red-600">
                {{ ejercicioForm.getError('descanso') }}
            </small>
        </div>
        <div style="width: -webkit-fill-available">
            <label for="descripcion" class="">Descripción</label>
            <textarea id="descripcion" pInputTextarea [autoResize]="true" formControlName="descripcion" rows="3"
                [ngClass]="{'ng-dirty ng-invalid': ejercicioForm.getError('descripcion')}"></textarea>
            <small *ngIf="ejercicioForm.getError('descripcion')" class="ng-invalid text-red-600">
                {{ ejercicioForm.getError('descripcion') }}
            </small>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button [outlined]="true" (onClick)="closedDialog()" severity="secondary">Cancelar</p-button>
        <p-button (onClick)="addEjercicio()" [disabled]="ejercicioForm.invalid" [outlined]="true"
            severity="contrast">Registrar</p-button>
    </ng-template>
</p-dialog>