<div class="container">
  <form >
    <!-- Informacion Personal -->
    <div class="ip">
      <h5 class="primerformulario">Información personal</h5>
      <div class="Nombre">
        <input
          type="text"
          formControlName="nombre"
          placeholder="Nombre"
        />
        <input
          type="text"
          formControlName="apellido"
          placeholder="Apellido"
        />
        <input
          type="email"
          formControlName="email"
          placeholder="Correo electrónico"
        />
      </div>
    </div>

    <!-- Datos de tarjeta -->
    <div class="Datos">
      <h4>Datos de tarjeta</h4>
      <div class="card">
        <input
          type="text"
          formControlName="cardNumber"
          placeholder="Número de tarjeta"
        />
        <div class="Vc">
          <input
            type="text"
            formControlName="cvc"
            placeholder="CVC"
          />
          <input
            type="text"
            formControlName="expiry"
            placeholder="MM/AAA"
          />
        </div>
        <input
          type="text"
          formControlName="cardHolder"
          placeholder="Nombre del titular de la tarjeta"
        />
        
            <input 
              type="text" 
              formControlName="pais" 
              placeholder="País"
            />
            <input
              type="text"
              formControlName="ciudad"
              placeholder="Ciudad"
            />
            <input
              type="text"
              formControlName="callePrincipal"
              placeholder="Calle principal"
            />
            <input
              type="text"
              formControlName="calleSecundaria"
              placeholder="Calle Secundaria"
            />
            <input
              type="text"
              formControlName="codigoPostal"
              placeholder="Código Postal"
            />
          </div>
        </div>
     

    <!-- Payment Options -->
    <div class="payment-section">
      <div class="payment-options">
        <div class="option daily"></div>
          <h5>Pago Diario</h5>
          <p class="amount">USD 0,50</p>
          <p class="rut">Rutina diaria</p>
          <div class="radio-container">
            <input 
              type="radio" 
              formControlName="paymentType" 
              value="daily" 
              id="daily"
            />
            <label for="daily"></label>
          </div>
        </div>
        <div class="option monthly"  >
          <h5>Pago Mensual</h5>
          <p class="amount">USD 15,00</p>
          <p class="rut">Rutina Mensual</p>
          <div class="radio-container">
            <input 
          
              formControlName="paymentType" 
              value="monthly" 
              id="monthly"
            />
            <label for="monthly"></label>
          </div>
        </div>
        <div class="summary">
          <div class="summary-row">
            <span>Subtotal</span>
            <span>$$$</span>
          </div>
          <div class="summary-row">
            <span>Impuesto</span>
            <span>$$$</span>
          </div>
          <div class="summary-row total">
            <span>Total a pagar</span>
            <span>$$$</span>
          </div>
        </div>
      </div>

      <button type="submit" class="submit-button">
        Procesar Pago
      </button>
 
