.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: system-ui, -apple-system, sans-serif;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

h4 {
  font-size: 0.875rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 1.25rem;
}

input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
  background-color: white;

  &::placeholder {
    color: #999;
  }

  &:focus {
    outline: none;
    border-color: #999;
  }
}

.ip,
.Datos {

  .Nombre,
  .card {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
}

.Vc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  margin-bottom: 0.75rem;
}

.payment-options {
  padding: 10px;
  border: 1px solid #5c5c5c;
  border-radius: 5px;
  background-color: #C1C1C1;
}

.option monthly {
  border: 1px solid #5c5c5c;
  padding: 10px;
  border-radius: 5px;
  background-color: #C1C1C1;

}

.summary {
  border: #5c5c5c;
  display: flex;
  flex-direction: column;
  padding: 20px;

}

p {
  font-size: 14px;
  font-weight: 500;
  color: #333;

}

/* Hide the default radio button */
input[type="radio"] {
  display: none;
}

/* Style for the label that will represent the radio button */
.radio-label {
  position: relative;
  display: inline-block;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  width: 200px;
  height: 173px;
  background-color: rgba(193, 193, 193, 0.4);
}

/* Style when the radio button is checked */
input[type="radio"]:checked+.radio-label {
  position: relative;
  background-color: rgba(35, 114, 33, 0.4);
  color: white;
}

.amount {
  color: #5C5C5C;
  font-size: 25px;
  margin: 0px;
  text-transform: uppercase;
}

.rut {
  font-size: 10px;
}

button {
  background-color: transparent;
  border: 3px solid var(--primary-color);
  color: var(--surface-900);
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.15);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
  border-radius: 5px;
  padding: 10px 30px;
}