<p-button [outlined]="true" styleClass="botton-header" severity="contrast" class="border-2" (onClick)="showDialog()">
    <mage-icon name="plus" size="17px"></mage-icon>&nbsp; Agregar Tarifa
</p-button>

<p-dialog header="Registro de usuario" [(visible)]="visible" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap">
                Registrar Rol
            </span>
        </div>
    </ng-template>
    <form (ngSubmit)="addRol()" [formGroup]="rolForm">
        <div style="width: calc(50% - 12px)">
            <label for="rol_id" class="">Nombre</label>
            <p-dropdown id="rol_id" formControlName="rol_id" optionLabel="name" [options]="Roles"
                placeholder="Seleccione un rol" [ngClass]="{'ng-dirty ng-invalid': rolForm.getError('rol_id')}" />
            <small *ngIf="rolForm.getError('rol_id')" class="ng-invalid text-red-600">
                {{ rolForm.getError('rol_id') }}
            </small>
        </div>
        <div style="width: calc(50% - 10px)">
            <label for="pago_diario" class="">Pago diario</label>
            <p-inputNumber inputId="pago_diario" placeholder=""
                [ngClass]="{'ng-dirty ng-invalid': rolForm.getError('pago_diario')}" formControlName="pago_diario"
                mode="currency" currency="USD" locale="en-US" [min]="0.10" />
            <small *ngIf="rolForm.getError('pago_diario')" class="ng-invalid text-red-600">
                {{ rolForm.getError('pago_diario') }}
            </small>
        </div>
        <div style="width: calc(50% - 10px)">
            <label for="pago_mensual" class="">Pago mensual</label>
            <p-inputNumber inputId="pago_mensual" placeholder=""
                [ngClass]="{'ng-dirty ng-invalid': rolForm.getError('pago_mensual')}" formControlName="pago_mensual"
                mode="currency" currency="USD" locale="en-US" [min]="0.10" />
            <small *ngIf="rolForm.getError('pago_mensual')" class="ng-invalid text-red-600">
                {{ rolForm.getError('pago_mensual') }}
            </small>
        </div>
        <div style="width: calc(50% - 10px)">
            <label for="tiempo" class="">Tiempo</label>
            <p-inputNumber inputId="tiempo" placeholder=""
                [ngClass]="{'ng-dirty ng-invalid': rolForm.getError('tiempo')}" formControlName="tiempo" mode="decimal"
                [min]="0" [useGrouping]="false" />
            <small *ngIf="rolForm.getError('tiempo')" class="ng-invalid text-red-600">
                {{ rolForm.getError('tiempo') }}
            </small>
        </div>
        <div style="width: 100%">
            <label for="cupo" class="">Cupo</label>
            <p-inputNumber inputId="cupo" placeholder="" [ngClass]="{'ng-dirty ng-invalid': rolForm.getError('cupo')}"
                formControlName="cupo" mode="decimal" [min]="0" [useGrouping]="false" />
            <small *ngIf="rolForm.getError('cupo')" class="ng-invalid text-red-600">
                {{ rolForm.getError('cupo') }}
            </small>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button [outlined]="true" (onClick)="closedDialog()" severity="secondary">Cancelar</p-button>
        <p-button (onClick)="addRol()" [disabled]="rolForm.invalid" [outlined]="true"
            severity="contrast">Registrar</p-button>
    </ng-template>
</p-dialog>