<div class="step-content">
    <h3>Formulario de Pago</h3>
    <label for="cuentaAhorros">Cuenta de Ahorros</label>
    <input id="cuentaAhorros" [(ngModel)]="cuentaAhorros" type="text" placeholder="Nombre: UTM" />

    <label for="metodoPago">Método de pago</label>
    <input id="metodoPago" [(ngModel)]="metodoPago" type="text" />

    <label for="fechaPago">Fecha de pago</label>
    <input id="fechaPago" [(ngModel)]="fechaPago" type="date" />

    <label for="monto">Monto</label>
    <input id="monto" [(ngModel)]="monto" type="number" step="0.01" />

    <label for="evidenciaPago">Evidencia de Pago</label>
    <input id="evidenciaPago" [(ngModel)]="evidenciaPago" type="file" />
</div>