<p-button [outlined]="true" severity="contrast" (onClick)="showDialog()">
    <mage-icon name="plus" strokeWidth="2.5px" size="17px"></mage-icon>&nbsp; Agregar rutina
</p-button>

<p-dialog header="Registro de rutina" [(visible)]="visible" [modal]="true"
    [breakpoints]="{ '1199px': '60vw', '575px': '50vw' }" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">
    <form [formGroup]="rutinaForm">
        <div style="width: calc(50% - 12px)">
            <label for="nombre" class="">Nombre rutina</label>
            <input id="nombre" type="text" placeholder=""
                [ngClass]="{'ng-dirty ng-invalid': rutinaForm.getError('nombre')}" formControlName="nombre"
                pInputText />
            <small *ngIf="rutinaForm.getError('nombre')" class="ng-invalid text-red-600">
                {{ rutinaForm.getError('nombre') }}
            </small>
        </div>
        <div style="width: calc(50% - 12px)">
            <label for="nivel" class="">Intensidad</label>
            <p-dropdown id="nivel" formControlName="intensidad" optionLabel="name" [options]="Intensidad"
                placeholder="Seleccione una intensidad" [ngModel]="Intensidad[0]"
                [ngClass]="{'ng-dirty ng-invalid': rutinaForm.getError('intensidad')}" />
            <small *ngIf="rutinaForm.getError('intensidad')" class="ng-invalid text-red-600">
                {{ rutinaForm.getError('intensidad') }}
            </small>
        </div>
        <div style="width: -webkit-fill-available">
            <label for="descripcion" class="">Descripcion</label>
            <textarea id="descripcion" pInputTextarea [autoResize]="true" formControlName="descripcion" rows="3"
                [ngClass]="{'ng-dirty ng-invalid': rutinaForm.getError('descripcion')}"></textarea>
            <small *ngIf="rutinaForm.getError('descripcion')" class="ng-invalid text-red-600">
                {{ rutinaForm.getError('descripcion') }}
            </small>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button [outlined]="true" (onClick)="closedDialog()" severity="secondary">Cancelar</p-button>
        <p-button (onClick)="addRutina()" [disabled]="rutinaForm.invalid" [outlined]="true"
            severity="contrast">Registrar</p-button>
    </ng-template>
</p-dialog>