<div class="container-loading">
  <div class="transparent-div-loading"></div>
  <div class="centered-div-loading">
    <img
      src="../../../assets/images/loading.gif"
      alt=""
      style="width: 550px; height: 300px"
    />
<div>
</div>

<div class="flex BCD6E1 text-black-alpha-90 flex-column gap-3">
<div class= save_component>
    <button class="btn-agregar-rutina disabled"> guardar </button>
        <buttonclass="btn-agregar-maquina">+</buttonclass>
</div>
<section maquina style="padding: 88px 62px" class="bg-white flex flex-wrap gap-6"> 
</section>
</div>
