<header>
    <i id="icon">
        <mage-icon name="calendar-plus" size="24px"></mage-icon>
    </i>
    <h2>Horarios</h2>
</header>
<p-breadcrumb class="max-w-full" [model]="items" [home]="home">
    <ng-template pTemplate="item" let-item>
        <ng-container *ngIf="item.route; else elseBlock">
            <a [routerLink]="item.route" class="p-menuitem-link">
                <ng-container *ngIf="item.icon">
                    <mage-icon size="20px" [name]="item.icon"></mage-icon>
                </ng-container>
                <span class="text-primary font-semibold">{{ item.label }}</span>
            </a>
        </ng-container>
        <ng-template #elseBlock>
            <a [href]="item.url">
                <span class="text-color">{{ item.label }}</span>
            </a>
        </ng-template>
    </ng-template>
    <ng-template pTemplate="separator"> &nbsp;&nbsp;/&nbsp;&nbsp; </ng-template>
</p-breadcrumb>

<p-tabView>
    <p-tabPanel header="Horarios para usuarios">
        <div class="flex gap-7 flex-column">
            <app-create-form-horario></app-create-form-horario>
            <app-table-horarios></app-table-horarios>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Horarios para entrenadores">
        <div class="flex gap-7 flex-column">
            <app-create-horario-entrenador></app-create-horario-entrenador>
            <app-table-horario-entrenador></app-table-horario-entrenador>
        </div>
    </p-tabPanel>
</p-tabView>