<div class="contain-header">
    <button (click)="agregarmembresia()" pButton pRipple>
        <mage-icon name="bookmark-plus" size="20px" ></mage-icon>
        Registrar Agendamiento</button>
</div>

<section>
    <p-calendar [yearNavigator]="false" class="max-w-full" [(ngModel)]="date" [inline]="true" />
    <div>
        <div >
            <header >
                <mage-icon name="arrow-list" size="20px"></mage-icon>
                Lista de Reservas
            </header>
        </div>
        <div>
            <header >
                <mage-icon name="arrow-list" size="20px"></mage-icon>
                Agendamientos
            </header>
        </div>
    </div>
</section>

