.contain-header {
    width: 100%;
    justify-content: end;
    margin-bottom: 1.5rem;

    button {
        display: flex;
        gap: 5px;
        margin-left: auto;
        background: transparent;
        border: transparent;
        color: var(--surface-900);
    }
}

section {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: space-around;

    div {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 500px;
        width: 100%;

        div {
            color: black;
            width: 100%;
            border: 3px solid var(--primary-color);
            border-radius: 22px;
            padding: 25px 40px;
            /* Rectangle 59 */

            box-sizing: border-box;

            // position: absolute;

            min-height: 150px;
            left: 890px;
            top: 319px;

            border: 3px solid #4CAF50;
            border-radius: 26px;

            header {
                display: flex;
                gap: 0.5rem;
            }
        }
    }
}

:host ::ng-deep {
    .p-datepicker {
        padding: 0;
        width: 400px !important;
        height: 400px !important;
        background: transparent !important;
        border: none !important;

        .p-monthpicker {
            padding: 0.5rem;

            .p-monthpicker-month:not(.p-disabled):focus {
                outline: 0 none;
                outline-offset: 0;
                box-shadow: none;
            }
        }

        .p-datepicker-header {
            background: transparent !important;
            border: none !important;
            padding: 0.5rem;
        }

        .p-datepicker-year {
            display: none;
        }

        .p-datepicker-month {
            font-size: 24px;
            font-family: Monserrat;
            font-weight: 500 !important;
        }

        .p-datepicker-calendar {

            th>span,
            td>span {
                font-size: 16px;
                border-radius: 5px;
                width: 3.5rem;
                height: 3.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            tr {

                th:first-child,
                td:first-child,
                th:last-child,
                td:last-child {
                    color: var(--primary-color);
                }
            }
        }

    }
}