<p-table #dt [rowsPerPageOptions]="[5,10, 25, 50]" [rows]="5" [paginator]="true"
    currentPageReportTemplate="{first} - {last} de {totalRecords}" [filterDelay]="0" [showCurrentPageReport]="true"
    [showFirstLastIcon]="false" [showCurrentPageReport]="true" [value]="pagos" dataKey="pagos-registrados"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="user.nombre">
                Nombres <app-sort-icon [field]="'user.nombre'" [sortField]="dt.sortField" [sortOrder]="dt.sortOrder" />
            </th>
            <th pSortableColumn="user.rol" >
                Rol <app-sort-icon [field]="'user.rol'" [sortField]="dt.sortField" [sortOrder]="dt.sortOrder" />
            </th>
            <th pSortableColumn="metodo_pago" >
                tipo de Pago <app-sort-icon [field]="'metodo_pago'" [sortField]="dt.sortField"
                    [sortOrder]="dt.sortOrder" />
            </th>
            <th pSortableColumn="fecha_pago" >
                fecha <app-sort-icon [field]="'fecha_pago'" [sortField]="dt.sortField" [sortOrder]="dt.sortOrder" />
            </th>
            <th pSortableColumn="monto">
                Pago <app-sort-icon [field]="'monto'" [sortField]="dt.sortField" [sortOrder]="dt.sortOrder" />
            </th>
            <th >
                Opciones
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pago>
        <tr [style]="{ 'color': pago.estado ==='Rechazado' ? 'red' : '#000000' }">

            <td>
                <div class="flex flex-column gap-1">
                    <!-- <span style="color: black;">{{ pago.user?.nombre | lowercase | titlecase  }} {{ pago.user?.apellido | lowercase | titlecase }}</span> -->
                    <span>{{ pago.usuario_id }}</span>
                </div>
            </td>
            <td>
                {{ pago.rol | lowercase | titlecase }}
            </td>
            <td>
                {{ pago.metodo_pago }}
            </td>
            <td>
                {{ pago.fecha_pago | date : 'dd/MM/yyyy' }}
            </td>
            <td>
                {{ pago.monto | currency : 'USD' }}
            </td>
            <td>
                <div class="flex gap-3 w-full justify-content-center">
                    <p-button [outlined]="true" size="small" severity="danger"
                        class="w-min"><mage-icon name="delete" stroke="#D32F2F"
                            size="16px"></mage-icon>&nbsp;Eliminar</p-button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>