<header>
    <i id="icon">
        <mage-icon color="#000" name="users" size="24px"></mage-icon>
    </i>
    <h2>Usuarios</h2>
</header>
<section class="section-breadcrumb">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home">
        <ng-template pTemplate="item" let-item>
            <ng-container *ngIf="item.route; else elseBlock">
                <a [routerLink]="item.route" class="p-menuitem-link">
                    <ng-container *ngIf="item.icon">
                        <mage-icon size="20px" [name]="item.icon"></mage-icon>
                    </ng-container>
                    <span class="text-primary font-semibold">{{ item.label }}</span>
                </a>
            </ng-container>
            <ng-template #elseBlock>
                <a [href]="item.url">
                    <span class="text-color">{{ item.label }}</span>
                </a>
            </ng-template>
        </ng-template>
        <ng-template pTemplate="separator"> &nbsp;/&nbsp; </ng-template>
    </p-breadcrumb>

    <app-create-form-usuario (usuarioAgregado)="obtenerDatos()"></app-create-form-usuario>
</section>
<app-table-usuario></app-table-usuario>