<p-table #dt [rowsPerPageOptions]="[10, 25, 50]" [rows]="10" [paginator]="true"
    currentPageReportTemplate="{first} - {last} de {totalRecords}" [filterDelay]="0" [showCurrentPageReport]="true"
    [showFirstLastIcon]="false" [value]="horarios" dataKey="horarios-registradas"
    [tableStyle]="{ 'min-width': '50rem' }"
    [globalFilterFields]="['dia_semana', 'rol.nombre', 'franja_hora_inicio', 'fecha']">
    <ng-template pTemplate="caption">
        <div class="flex gap-3">
            <p-button [outlined]="true" (onClick)="clearFilter(globalFilter)">
                <mage-icon name="filter-remove" fill="currentColor" size="18px" />
            </p-button>
            <span class="p-input-icon-left ml-3" style="min-width: 320px;">
                <mage-icon name="search" class="pi"
                    style="left: 0.6rem; position: absolute;top: 50%;margin-top: -0.5rem;" fill="#868FA0"
                    size="14px"></mage-icon>
                <!-- <i class="pi pi-search"></i> -->
                <input #globalFilter pInputText type="text" (input)="applyFilter($event)" placeholder="Buscar..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="dia_semana">Días <app-sort-icon [field]="'dia_semana'" [sortField]="dt.sortField"
                    [sortOrder]="dt.sortOrder" /></th>
            <th pSortableColumn="rol.nombre">
                Roles <app-sort-icon [field]="'rol.nombre'" [sortField]="dt.sortField" [sortOrder]="dt.sortOrder" />
            </th>
            <th pSortableColumn="franja_hora_inicio">Horas <app-sort-icon [field]="'franja_hora_inicio'"
                    [sortField]="dt.sortField" [sortOrder]="dt.sortOrder" /></th>
            <th pSortableColumn="fecha">Fecha <app-sort-icon [field]="'fecha'" [sortField]="dt.sortField"
                    [sortOrder]="dt.sortOrder" /></th>
            <th class="text-center">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-horario>
        <tr>
            <td>{{ getDias(horario.dia_semana) }}</td>
            <td>Entrenador</td>
            <td>{{ horario.franja_hora_inicio | slice:0:5 }} - {{ horario.franja_hora_fin | slice:0:5 }}</td>
            <td>{{ horario.fecha | date:'dd/MM/yyyy' }}</td>
            <td>
                <div class="flex gap-3 w-full justify-content-center">
                    <p-button [outlined]="true" size="small" severity="primary" (click)="showDialog(horario.id)"
                        class="w-min"><mage-icon name="edit" color="var(--primary-color)"
                            size="16px"></mage-icon>&nbsp;Editar</p-button>
                    <p-button [outlined]="true" (onClick)="deleteHorarioEntrenador(horario.id)" size="small"
                        severity="danger" class="w-min"><mage-icon name="delete" stroke="#D32F2F"
                            size="16px"></mage-icon>&nbsp;Eliminar</p-button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog header="Actualizar ejercicio" [(visible)]="visible" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">
    <ng-template pTemplate="header">
        <div class="inline-flex align-items-center justify-content-center gap-2">
            <span class="font-bold white-space-nowrap">
                Actualizar Horario de entrenador
            </span>
        </div>
    </ng-template>
    <form [formGroup]="horarioForm" (ngSubmit)="onSubmit()">
        <input type="hidden" name="id" formControlName="id" />
        <div style="width: calc(50% - 10px)">
            <label for="fecha">Fecha</label>
            <p-calendar appendTo="body" id="fecha" dateFormat="dd-mm-yy" formControlName="fecha"
                [ngClass]="{'ng-dirty ng-invalid': horarioForm.getError('fecha')}" [showButtonBar]="true"
                placeholder="Seleccione una fecha" />
            <small *ngIf="horarioForm.getError('fecha')" class="ng-invalid text-red-600">
                {{ horarioForm.getError('fecha') }}
            </small>
        </div>
        <div style="width: calc(50% - 10px)">
            <label for="dia_semana">Dia Semana</label>
            <p-multiSelect appendTo="body" formControlName="dia_semana" optionLabel="name" placeholder="Seleccione los días"
            [showEmptyMessage]="true" emptyMessage="No hay días disponibles"
            [ngClass]="{'ng-dirty ng-invalid': horarioForm.getError('dia_semana')}" [options]="dias" />
            <small *ngIf="horarioForm.getError('dia_semana')" class="ng-invalid text-red-600">
                {{ horarioForm.getError('dia_semana') }}
            </small>
        </div>
        <div style="width: calc(50% - 10px)">
            <label for="salida">Hora de inicio</label>
            <p-dropdown formControlName="franja_hora_inicio" optionLabel="name" [options]="horas"
                placeholder="Seleccione una hora"
                [ngClass]="{'ng-dirty ng-invalid': horarioForm.getError('franja_hora_inicio')}" />
            <small *ngIf="horarioForm.getError('franja_hora_inicio')" class="ng-invalid text-red-600">
                {{ horarioForm.getError('franja_hora_inicio') }}
            </small>
        </div>
        <div style="width: calc(50% - 10px)">
            <label for="franja_hora_fin">Hora de salida</label>
            <p-dropdown formControlName="franja_hora_fin" optionLabel="name" [options]="horasSalida"
                placeholder="Seleccione una hora"
                [ngClass]="{'ng-dirty ng-invalid': horarioForm.getError('franja_hora_fin')}" />
            <small *ngIf="horarioForm.getError('franja_hora_fin')" class="ng-invalid text-red-600">
                {{ horarioForm.getError('franja_hora_fin') }}
            </small>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <p-button [outlined]="true" (onClick)="closedDialog()" severity="secondary">Cancelar</p-button>
        <p-button (onClick)="onSubmit()" [disabled]="horarioForm.invalid" [outlined]="true"
            severity="contrast">Actualizar</p-button>
    </ng-template>
</p-dialog>