<p-table #dt [rowsPerPageOptions]="[10, 25, 50]" [rows]="10" [paginator]="true"
    currentPageReportTemplate="{first} - {last} de {totalRecords}" [filterDelay]="0" [showCurrentPageReport]="true"[showFirstLastIcon]="false" 
    [value]="maquinas" dataKey="maquinas-registradas" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="caption">
        <div class="flex gap-3">
            <p-button [outlined]="true" icon="pi pi-filter-slash" label="" />
            <input pInputText type="text" placeholder="Buscar Rol" />
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Nombres</th>
            <th>Rol</th>
            <th>Horas</th>
            <th>Fecha</th>
            <th>Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-maquina>
        <tr>
            <td>{{ maquina.nombre }}</td>
            <td>{{ maquina.rol }}</td>
            <td>{{ maquina.franja_hora_inicio }} - {{ maquina.franja_hora_salida }}</td>
            <td>{{ maquina.fecha | date:'dd/MM/yyyy' }}</td>
            <td>
                <button type="button" pButton pRipple>
                    <mage-icon name="file-2"></mage-icon>
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>