<form class="step-content flex flex-column sm:flex-row" [formGroup]="agendarForm">
    <h3 class="w-full">Datos de agendamiento</h3>
    <div *ngIf="EsP_Administrativo; else Usuario">
        <label for="departamento" class="">Departamento</label>
        <p-dropdown formControlName="departamento" optionLabel="name" [options]="departamentos"
            placeholder="Seleccione el departamento" [ngClass]="{
                'ng-dirty ng-invalid': agendarForm.getError('departamento')
              }" appendTo="body" />
        <small *ngIf="agendarForm.getError('departamento')" class="ng-invalid text-red-600 block">
            {{ agendarForm.getError("departamento") }}
        </small>
    </div>
    <ng-template #Usuario>
        <div>
            <label for="facultad" class="">Facultad</label>
            <p-dropdown formControlName="facultad" optionLabel="name" [options]="facultades"
                placeholder="Seleccione la facultad" [ngClass]="{
                    'ng-dirty ng-invalid': agendarForm.getError('facultad')
                  }" appendTo="body" />
            <small *ngIf="agendarForm.getError('facultad')" class="ng-invalid text-red-600 block">
                {{ agendarForm.getError("facultad") }}
            </small>
        </div>
        <div>
            <label for="carrera" class="">Carrera</label>
            <p-dropdown formControlName="carrera" optionLabel="name" [options]="carreras"
                placeholder="Seleccione la carrera" [ngClass]="{
                    'ng-dirty ng-invalid': agendarForm.getError('carrera')
                  }" appendTo="body" />
            <small *ngIf="agendarForm.getError('carrera')" class="ng-invalid text-red-600 block">
                {{ agendarForm.getError("carrera") }}
            </small>
        </div>
    </ng-template>
    <div>
        <label for="fecha" class="">Fecha Registro {{ agendarForm.getError('fecha') }}</label>
        <p-calendar appendTo="body" id="fecha" dateFormat="dd-mm-yy" [minDate]="minDate" formControlName="fecha"

            [ngClass]="{'ng-dirty ng-invalid': agendarForm.getError('fecha')}" />
        <small *ngIf="agendarForm.getError('fecha')" class="ng-invalid text-red-600 block">
            {{ agendarForm.getError('fecha') }}
        </small>
    </div>
    <div>
        <label for="ingreso" class="">Horas</label>
        <p-dropdown formControlName="hora" appendTo="body" [options]="horas" placeholder="Seleccione una hora"
            [ngClass]="{'ng-dirty ng-invalid': agendarForm.getError('hora')}" [group]="true">
            <ng-template let-group pTemplate="group">
                <div class="flex align-items-center">
                    <span>{{ group.label }}</span>
                </div>
            </ng-template>
            <ng-template let-item pTemplate="item">
                <div class="flex flex-column">
                    <span style="color: #000;">{{ item.label }}</span>
                    <span style="font-size: 12px; color: #535353;">{{ item.title }}</span>
                </div>
            </ng-template>
        </p-dropdown>
        <small *ngIf="agendarForm.getError('hora')" class="ng-invalid text-red-600 block">
            {{ agendarForm.getError('hora') }}
        </small>
    </div>
</form>