h3 {
    font-size: 21px;
    margin: 0;
    margin-bottom: 4px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    div {
        label {
            display: block;
            color: black;
        }

        input {
            margin-top: 4px;
            width: 100%;
            padding: 10px 14px;
        }

        textarea {
            margin-top: 4px;
            width: 100%;
            padding: 10px 14px;
        }
    }

}

:host ::ng-deep {

    .p-inputtext {
        padding: 10px 14px;
    }

    .p-dropdown {
        margin-top: 4px;
        width: 100%;
    }

    .p-calendar {
        width: 100%;

        .p-inputtext {
            margin-top: 4px;
            padding: 10px 14px;
        }
    }
}

:host ::ng-deep .p-datepicker {
    width: fit-content !important;
    min-width: fit-content !important;
}

@media screen and (min-width: 576px) {
    form {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    
        div {
            flex: 1 1 calc(50% - 20px);
            /* Ajusta el ancho según tus necesidades */
            min-width: 300px;
            /* Ancho mínimo para pantallas pequeñas */
            max-width: 100%;
        }
    }
}