<form class="step-content" [formGroup]="pagoForm">
    <h3>Formulario de Pago</h3>
    <div *ngIf="isMembresia; else formularioPago">
        <p>Ya tienes una membresía activa.</p>
        <p>Información de la membresía</p>
    </div>
    <ng-template #formularioPago>
        <div style="width: 100%;">
            <h4 for="cuentaAhorros">Cuenta de Ahorros <strong>Banco Pichincha</strong></h4>
            <div class="grid nested-grid w-full m-0" style="gap: 10px;">
                <div style="width: calc(50% - 5px);">
                    <label class="mb-1 font-semibold">Numero de cuenta</label>
                    <span>2100090912</span>
                </div>
                <div style="width: calc(50% - 5px);">
                    <label class="mb-1 font-semibold">Numero de RUC</label>
                    <span>1360084120001</span>
                </div>
                <div style="width: calc(50% - 5px);">
                    <label class="mb-1 font-semibold">Nombre de Beneficiario</label>
                    <span>Empresa Pública de Servicio Generales UTM</span>
                </div>
                <div style="width: calc(50% - 5px);">
                    <label class="mb-1 font-semibold">Correo Electrónico</label>
                    <span>emserutm&#64;gmail.com</span>
                </div>
            </div>
        </div>

        <div style="width: calc(100%)">
            <label for="metodo_pago" class="">Método de Pago</label>
            <p-dropdown formControlName="metodo_pago" optionLabel="name" [options]="metodoOpt"
                placeholder="Seleccione el metodo de pago" [ngClass]="{
                'ng-dirty ng-invalid': pagoForm.getError('metodo_pago')
              }" />
            <small *ngIf="pagoForm.getError('metodo_pago')" class="ng-invalid text-red-600">
                {{ pagoForm.getError("metodo_pago") }}
            </small>
        </div>
        <div style="width: calc(50% - 10px)">
            <label for="fecha_pago" class="">Fecha Registro</label>
            <p-calendar id="fecha_pago" dateFormat="dd-mm-yy" formControlName="fecha_pago"
                [ngClass]="{'ng-dirty ng-invalid': pagoForm.getError('fecha_pago')}" />
            <small *ngIf="pagoForm.getError('fecha_pago')" class="ng-invalid text-red-600">
                {{ pagoForm.getError('fecha_pago') }}
            </small>
        </div>
        <div style="width: calc(50% - 10px)">
            <label for="monto">Costo</label>
            <p-inputNumber inputId="monto" placeholder=""
                [ngClass]="{'ng-dirty ng-invalid': pagoForm.getError('monto')}" formControlName="monto" mode="currency"
                currency="USD" locale="en-US" [min]="0.10" [ngClass]="{
                    'ng-dirty ng-invalid': pagoForm.getError('monto')
                  }" />
            <small *ngIf="pagoForm.getError('monto')" class="ng-invalid text-red-600">
                {{ pagoForm.getError("monto") }}
            </small>
        </div>
        <div style="width: calc(100%)">
            <label for="evidencia_pago">Evidencia de pago
                <span style="position: relative;"
                    [ngClass]="{'ng-dirty ng-invalid': pagoForm.getError('evidencia_pago')}" for="file-upload"
                    class="file-upload-label">
                    <input type="file" formControlName="evidencia_pago" (change)="onFileSelected($event)"
                        id="file-upload" class="file-upload-input" accept="image/*">
                    <mage-icon color="#808080" name="image-upload" class="upload-icon" size="30px" />
                    <span class="file-name" id="file-name"> {{ selectedImage ? selectedImage : 'Selecciona una imagen'
                        }}</span>
                </span>
            </label>
            <small *ngIf="pagoForm.getError('evidencia_pago')" class="ng-invalid text-red-600">
                {{ pagoForm.getError('evidencia_pago') }}
            </small>

        </div>
    </ng-template>
</form>