<form class="step-content" [formGroup]="pagoForm">
    <div class="card m-0 text-black-alpha-90" style="width: 100%;">
        <strong >Cuenta de Ahorros </strong>
        <h4><img src="assets/icons/logo-banco.svg" style="height: 30px; width: auto; " alt=""></h4>
        <div class="grid nested-grid w-full m-0" style="gap: 10px;">
            <table style="width: 100%; color: #000;">
                <tr style="height: 29px;">
                    <th style="width: 250px; text-align: start;">Numero de cuenta:</th>
                    <td>2100090912</td>
                </tr>
                <tr style="height: 29px;">
                    <th style="width: 250px; text-align: start;">Numero de RUC:</th>
                    <td>1360084120001</td>
                </tr>
                <tr style="height: 29px;">
                    <th style="width: 250px; text-align: start;">Nombre de Beneficiario:</th>
                    <td>Empresa Pública de Servicio Generales UTM</td>
                </tr>
                <tr style="height: 60px;">
                    <th style="width: 250px; text-align: start; display: inline;">Correo Electrónico:</th>
                    <td>
                        <ul class="m-0" style="padding: 0 0 0 1rem;">
                            <li>emserutm&#64;gmail.com</li>
                            <li>facturacionemserving&#64;gmail.com</li>
                            <li>tics.emservingutm&#64;gmail.com</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <h3 class="font-bold">Formulario de Pago</h3>

    <div style="width: calc(50% - 10px)">
        <label for="metodo_pago" class="">Método de Pago</label>
        <p-dropdown formControlName="metodo_pago" optionLabel="name" [options]="metodoOpt"
            placeholder="Seleccione el metodo de pago" [ngClass]="{
                'ng-dirty ng-invalid': pagoForm.getError('metodo_pago')
              }" />
        <small *ngIf="pagoForm.getError('metodo_pago')" class="ng-invalid text-red-600">
            {{ pagoForm.getError("metodo_pago") }}
        </small>
    </div>
    <div style="width: calc(50% - 10px)">
        <label for="monto">Costo</label>
        <p-inputNumber inputId="monto" [ngClass]="{'ng-dirty ng-invalid': pagoForm.getError('monto')}"
            formControlName="monto" mode="currency" currency="USD" locale="en-US" [min]="0.10" [ngClass]="{
                    'ng-dirty ng-invalid': pagoForm.getError('monto')
                  }" />
        <small *ngIf="pagoForm.getError('monto')" class="ng-invalid text-red-600">
            {{ pagoForm.getError("monto") }}
        </small>
    </div>
    <div style="width: calc(100%)">
        <label for="evidencia_pago">Evidencia de pago
            <span style="position: relative;" [ngClass]="{'ng-dirty ng-invalid': pagoForm.getError('evidencia_pago')}"
                for="file-upload" class="file-upload-label">
                <input type="file" (change)="onFileSelected($event)" id="file-upload"
                    class="file-upload-input" accept="image/*">
                <mage-icon color="#808080" name="image-upload" class="upload-icon" size="30px" />
                <span class="file-name" id="file-name"> {{ selectedImage ? selectedImage : 'Selecciona una imagen'
                    }}</span>
            </span>
        </label>
        <small *ngIf="pagoForm.getError('evidencia_pago')" class="ng-invalid text-red-600">
            {{ pagoForm.getError('evidencia_pago') }}
        </small>

    </div>
</form>