.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 4rem);
    max-height: calc(100vh - 4rem);
    justify-content: space-between;
    padding: 7rem 2rem 0rem 4rem;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
    overflow-y: auto;
    padding-right: 8px;
    scrollbar-color: #059669 transparent;
    scrollbar-width: thin;

}
