.layout-footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    transition: margin-left $transitionDuration;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    // border-top: 1px solid var(--surface-border);
}
