:host ::ng-deep .p-button.p-button-icon-only {
    border-radius: 6px;
    padding: 8px 12px;
}

:host ::ng-deep {
    .p-dialog-mask.p-component-overlay.p-component-overlay-enter.p-dialog-mask-scrollblocker.ng-star-inserted {
        backdrop-filter: blur(5px);

        .p-dialog {
            border-radius: 12px !important;
            overflow: hidden;
            background: linear-gradient(to bottom right, #cfe4da, #fff);

            .p-dialog-header {
                background: transparent;
                color: black;
                font-weight: 800;
                padding: 24px 30px;
                font-size: 20px;

                .p-dialog-header-close-icon {
                    color: black;
                }

            }

            .p-dialog-content {
                padding: 10px 50px 30px 50px;
                background: transparent;

                form {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 20px;

                    div {
                        label {
                            // display: block;
                            color: black;
                            // font-size: 16px;
                        }

                        input:not(.p-multiselect-filter) {
                            margin-top: 8px;
                            width: 100%;
                            padding: 10px 14px;
                            border-radius: 8px;
                            font-size: 13px;
                            height: 41px;
                        }

                        textarea {
                            margin-top: 4px;
                            width: 100%;
                            min-width: -webkit-fill-available;
                            padding: 10px 14px;
                            border-radius: 8px;
                            font-size: 13px;
                        }

                        .p-multiselect {
                            margin-top: 4px;
                            width: 100%;

                            .p-multiselect-label-container {
                                padding: 10px 14px;
                                outline: none;

                                .p-multiselect-label {
                                    padding: 0;
                                }
                            }
                        }

                        .p-dropdown {
                            margin-top: 8px;
                            width: 100%;
                            border-radius: 6px;

                            .p-inputtext {
                                padding: 10px 14px;
                                outline: none
                            }
                        }

                        .p-calendar {
                            width: 100%;

                            .p-inputtext {
                                margin-top: 8px;
                                padding: 1rem;
                            }

                            .p-datepicker {
                                min-width: fit-content;
                            }
                        }

                    }

                    .p-button {
                        border-radius: 8px !important;
                        padding: 7px 20px;
                    }
                }
            }

            .p-dialog-footer {
                background: transparent;
                display: flex;
                justify-content: flex-end;
                gap: 15px;

                p-button {
                    margin: 0;

                    .p-button.p-button-outlined {
                        font-size: 14px;
                        padding: 7px 30px;
                        border-radius: 10px;
                        font-weight: 700;

                        &:not(.p-button-secondary) {
                            color: black;
                            border: solid 2px;

                            &:hover,
                            &:not(:disabled):hover,
                            &:not(:disabled):active,
                            &:active {
                                border: solid 2px;
                            }
                        }
                    }
                }
            }
        }
    }

    .p-paginator {
        .p-paginator-current.ng-star-inserted {
            margin-right: auto;
            order: -2;
        }


        .p-element.p-inputwrapper.ng-star-inserted.p-inputwrapper-filled.ng-dirty {
            order: -1;
            margin: 0px 20px;

            &::before {
                margin-left: 25px;
                content: 'Registros por página';
            }
        }

        .p-dropdown-label {
            padding: 7px;
            width: 31px;
            justify-content: center;
            display: flex;
            align-items: center;

            &:focus,
            &:focus-visible,
            &:focus-within {
                outline: none;
            }
        }
    }

    .p-tag {
        padding: 5px 10px;
        border-radius: 99px;

    }

    .ng-star-inserted {
        .p-inputtext.p-component.p-element {
            width: 100%;
            max-width: 320px;
        }
    }
}

td {
    .subtitle {
        font-weight: 500;
        font-size: 14px;
        color: black;
    }

    .caption {
        margin-top: 2px;
        font-size: 12px;
        font-weight: 400;
        color: #464F60;
    }
}
