<section class="section-form">

  <p-table #dt [rowsPerPageOptions]="[5,10, 25, 50]" [rows]="5" [paginator]="true"
    currentPageReportTemplate="{first} - {last} de {totalRecords}" [filterDelay]="0" [showCurrentPageReport]="true"
    [scrollable]="true" scrollHeight="243px" [value]="maquinas" [showFirstLastIcon]="false"
    dataKey="maquinas-registradas" [tableStyle]="{ 'min-width': '50rem' }"
    [globalFilterFields]="['cantidad', 'nombre', 'fecha_compra', 'estado']">
    <ng-template pTemplate="caption">
      <div class="flex justify-content-start gap-3">
        <div>
          <p-button [outlined]="true" (onClick)="clearFilter(globalFilter)"> <mage-icon name="filter-remove"
              fill="currentColor" size="18px"></mage-icon> </p-button>
          <span class="p-input-icon-left ml-3" style="min-width: 320px;">
            <mage-icon name="search" class="pi" style="left: 0.6rem; position: absolute;top: 50%;margin-top: -0.5rem;"
              fill="#868FA0" size="14px"></mage-icon>
            <!-- <i class="pi pi-search"></i> -->
            <input #globalFilter pInputText type="text" (input)="applyFilter($event)" placeholder="Buscar..." />
          </span>
        </div>
        <p-button *ngIf="authorize" [outlined]="true" severity="success" (click)="goToRegistrar()"
          label="Agregar máquina" icon="pi pi-plus" class="mr-2 ml-auto" />

      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="cantidad">Cantidad
          <app-sort-icon [field]="'cantidad'" [sortField]="dt.sortField" [sortOrder]="dt.sortOrder" />
        </th>
        <th pSortableColumn="nombre">Maquina
          <app-sort-icon [field]="'nombre'" [sortField]="dt.sortField" [sortOrder]="dt.sortOrder" />
        </th>
        <th pSortableColumn="fecha_compra">Fecha Registro
          <app-sort-icon [field]="'fecha_compra'" [sortField]="dt.sortField" [sortOrder]="dt.sortOrder" />
        </th>
        <th pSortableColumn="estado">Estado
          <app-sort-icon [field]="'estado'" [sortField]="dt.sortField" [sortOrder]="dt.sortOrder" />
        </th>
        <th class="text-center">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-maquina>
      <tr>
        <td>{{ maquina.cantidad }}</td>
        <td>{{ maquina.nombre }}</td>
        <td>{{ maquina.fecha_compra | date:'dd/MM/yyyy' }}</td>
        <td>{{ maquina.estado }}</td>
        <td>
          <div class="flex gap-3 w-full justify-content-center">
            <p-button (onClick)="goToHistorial(maquina.id)" [outlined]="true" size="small" severity="info"
              class="w-min"><mage-icon name="file-2" size="16px"></mage-icon>&nbsp;ver</p-button>
            <p-button [outlined]="true" size="small" severity="primary" class="w-min"
              (click)="openDialog(maquina.id)"><mage-icon name="edit" size="16px"></mage-icon>&nbsp;Editar</p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" rowspan="3" [style]="{ width: '100%', textAlign: 'center' }">{{ emptyMessage }}</td>
      </tr>
    </ng-template>
  </p-table>
</section>


<p-toast position="bottom-right" />

<p-confirmDialog #cd>
  <ng-template pTemplate="headless" let-message>
    <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
      <div style="background-color: red; color: white"
        class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem">
        <mage-icon name="delete" stroke="#D32F2F" size="16px"></mage-icon>
      </div>
      <span class="font-bold text-2xl block mb-2 mt-4">
        {{ message.header }}
      </span>
      <p class="mb-0">{{ message.message }}</p>
      <div class="flex align-items-center gap-2 mt-4">
        <button pButton label="Save" (click)="cd.accept()" class="w-8rem">
        </button>
        <button pButton label="Cancel" (click)="cd.reject()" class="p-button-outlined w-8rem ">
        </button>
      </div>
    </div>
  </ng-template>
</p-confirmDialog>

<p-dialog header="Actualizar rutina" [(visible)]="visible" [modal]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
  [resizable]="false">
  <ng-template pTemplate="header">
    <div class="inline-flex align-items-center justify-content-center gap-2">
      <span class="font-bold white-space-nowrap">
        Actualizar Rutina
      </span>
    </div>
  </ng-template>
  <form [formGroup]="maquinaForm" (ngSubmit)="updatedMaquina()">
    <input type="hidden" name="id" formControlName="id" />
    <div style="width: calc(50% - 12px)">
      <label for="cantidad" class="">Cantidad</label>
      <input id="cantidad" formControlName="cantidad" type="number" placeholder=""
        [ngClass]="{'ng-dirty ng-invalid': maquinaForm.getError('cantidad')}" pInputText />
      <small *ngIf="maquinaForm.getError('cantidad')" class="ng-invalid text-red-600 block">
        {{ maquinaForm.getError('cantidad') }}
      </small>
    </div>
    <div style="width: calc(50% - 12px)">
      <label for="nombre" class="">Nombre maquina</label>
      <input id="nombre" type="text" placeholder="" [ngClass]="{'ng-dirty ng-invalid': maquinaForm.getError('nombre')}"
        formControlName="nombre" pInputText />
      <small *ngIf="maquinaForm.getError('nombre')" class="ng-invalid text-red-600 block">
        {{ maquinaForm.getError('nombre') }}
      </small>
    </div>
    <div style="width: calc(50% - 12px)">
      <label for="estado" class="">Estado</label>
      <p-dropdown formControlName="estado" optionLabel="name" [options]="estadosOpt" placeholder="Seleccione el estado"
        [ngModel]="estadosOpt[0]" [ngClass]="{'ng-dirty ng-invalid': maquinaForm.getError('estado')}" />
      <small *ngIf="maquinaForm.getError('estado')" class="ng-invalid text-red-600 block">
        {{ maquinaForm.getError('estado') }}
      </small>
    </div>
    <div style="width: calc(50% - 12px)">
      <label for="fecha_compra" class="">Fecha Registro</label>
      <p-calendar appendTo="body" id="fecha_compra" dateFormat="dd-mm-yy" formControlName="fecha_compra"
        [ngClass]="{'ng-dirty ng-invalid': maquinaForm.getError('fecha_compra')}" />
      <small *ngIf="maquinaForm.getError('fecha_compra')" class="ng-invalid text-red-600 block">
        {{ maquinaForm.getError('fecha_compra') }}
      </small>
    </div>
    <div style="width: -webkit-fill-available">
      <label for="descripcion" class="">Descripción</label>
      <textarea id="descripcion" pInputTextarea [autoResize]="true" formControlName="descripcion" rows="3"
        [ngClass]="{'ng-dirty ng-invalid': maquinaForm.getError('descripcion')}"></textarea>
      <small *ngIf="maquinaForm.getError('descripcion')" class="ng-invalid text-red-600 block">
        {{ maquinaForm.getError('descripcion') }}
      </small>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-button [outlined]="true" (onClick)="hideDialog()" severity="secondary">Cancelar</p-button>
    <p-button (onClick)="updatedMaquina()" [disabled]="maquinaForm.invalid" [outlined]="true"
      severity="contrast">Actualizar</p-button>
  </ng-template>
</p-dialog>