<header>
  <span>
    <mage-icon name="calendar-plus" size="24px"></mage-icon>
  </span>
  <h2>Equipos</h2>
  <button (click)="goToMantenimiento()" pButton pRiple>
    Mantenimiento
  </button>
</header>

<section class="section-form">
    <h3>Formulario de registro</h3>
    <form [formGroup]="myGroup" (ngSubmit)="addMaquina()">
      <div style="width: calc(50% - 12px)">
        <label for="cantidad" class="">Cantidad</label>
        <input id="cantidad" formControlName="cantidad" type="number" placeholder="" pInputText />
      </div>
      <div style="width: calc(50% - 12px)">
        <label for="nombre" class="">Nombre maquina</label>
        <input id="nombre" type="text" placeholder="" formControlName="nombre" pInputText />
      </div>
      <div style="width: calc(50% - 12px)">
        <label for="estado" class="">Estado</label>
        <p-dropdown formControlName="estado" optionLabel="name" [options]="estadosOpt"
          placeholder="Seleccione el estado" [ngModel]="estadosOpt[0]" />
      </div>
      <div style="width: calc(50% - 12px)">
        <label for="fecha_compra" class="">Fecha Registro</label>
        <p-calendar id="fecha_compra" dateFormat="dd-mm-yy" formControlName="fecha_compra" />
      </div>
      <div style="width: -webkit-fill-available">
        <label for="descripcion" class="">Descripción</label>
        <textarea pInputTextarea [autoResize]="true" formControlName="descripcion" rows="3"></textarea>
      </div>
      <div style="
          display: flex;
          gap: 20px;
          width: 100%;
          justify-content: end;
          margin-top: 10px;
        ">
        <button type="reset" pButton pRiple>
          Cancelar
        </button>
        <button type="submit" pButton pRiple>
          Registrar
        </button>
      </div>
    </form>
</section>

<section class="section-table">
  <!-- <header> -->
    <!-- <span>
      <mage-icon name="dollar" size="26px"></mage-icon>
    </span> -->
    <h3>
      Listado de equipos
    </h3>
  <!-- </header> -->

    <p-table [value]="maquinas" dataKey="maquinas-registradas" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Cantidad</th>
          <th>Maquina</th>
          <th>Fecha Registro</th>
          <th>Estado</th>
          <th>Historial</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-maquina>
        <tr>
          <td>{{ maquina.cantidad }}</td>
          <td>{{ maquina.nombre }}</td>
            <td>{{ maquina.fecha_compra | date:'dd/MM/yyyy' }}</td>
          <td>{{ maquina.estado }}</td>
          <td>
            <button type="button" pButton pRipple>
              <mage-icon name="file-2"></mage-icon>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
</section>