:host ::ng-deep {

    header {
        width: -webkit-fill-available;
        display: flex;
        align-items: center;
        gap: 20px;

        h2 {
            font-size: 26px;
            font-weight: 800;
            margin: 0;
            margin-right: auto;
        }

        .icon {
            display: flex;
            padding: 10px;
            border-radius: 5px;
            background-color: var(--primary-color);
            color: var(--surface-overlay)
        }

        p-button {
            margin-left: auto;

            .p-button {
                padding: 5px 30px;
                font-size: 14px;
                border-radius: 8px 0px 8px 8px;

                &.p-button-outlined {
                color: #000;
                    border: 1px solid black;

                    &:active,
                    &:focus,
                    &:hover,
                    &:not(.disabled):hover,
                    &:not(.disabled):active {
                        color: black;
                        border: 1px solid black;
                    }
                }
            }
        }
    }

    .section-breadcrumb {
        display: flex;
        justify-content: space-between;
        margin: 25px 0;
    }

    .p-breadcrumb-list {
        gap: 1rem;
        color: var(--text-color);
        font-size: 16px;

        a {
            gap: 0.5rem;
        }
    }

    .p-breadcrumb {
        border: transparent;
        background: transparent;
        padding: 5px 10px;
    }
}