<section class="section-form">
  <header>
    <span>
      <mage-icon name="calendar-plus" size="24px"></mage-icon>
    </span>
    <h1>Equipos</h1>
    <button (click)="goToMantenimiento()" pButton pRiple>
      Mantenimiento
    </button>
  </header>

  <div>
    <h3>Formulario de Registro</h3>
    <form [formGroup]="myGroup" (ngSubmit)="addMaquina()">
      <div style="width: calc(50% - 12px)">
        <label for="email1" class="">Cantidad</label>
        <input id="email1" formControlName="cantidad" type="number" placeholder="" pInputText />
      </div>
      <div style="width: calc(50% - 12px)">
        <label for="email1" class="">Nombre maquina</label>
        <input id="email1" type="text" placeholder="" formControlName="name" pInputText />
      </div>
      <div style="width: calc(50% - 12px)">
        <label for="email1" class="">Estado</label>
        <input id="email1" type="text" formControlName="estado" placeholder="Disponible" pInputText />
      </div>
      <div style="width: calc(50% - 12px)">
        <label for="email1" class="">Fecha Registro</label>
        <input id="email1" type="text" placeholder="" formControlName="date_compra" pInputText />
      </div>
      <div style="width: -webkit-fill-available">
        <label for="email1" class="">Descripción</label>
        <textarea pInputTextarea [autoResize]="true" formControlName="descripcion" rows="3"></textarea>
      </div>
      <div style="
          display: flex;
          gap: 20px;
          width: 100%;
          justify-content: end;
          margin-top: 10px;
        ">
        <button type="reset" style="
            padding: 10px 25px;
            border: 1px solid var(--primary-color);
            font-size: 16px;
            color: black;
            background-color: white;
            border-radius: 10px 0px 10px 10px;
          " pButton type="submit" pRiple>
          Cancelar
        </button>
        <button style="
            padding: 10px 25px;
            border: 1px solid var(--primary-color);
            font-size: 16px;
            color: black;
            background-color: var(--primary-color);
            border-radius: 10px 0px 10px 10px;
          " pButton pRiple>
          Guardar
        </button>
      </div>
    </form>
  </div>
</section>

<section class="section-table">
  <header>
    <span>
      <mage-icon name="dollar" size="26px"></mage-icon>
    </span>
    <h1>
      Equipos Registrados
    </h1>
  </header>

  <div>
    <p-table [value]="maquinas" dataKey="maquinas-registradas" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Cantidad</th>
          <th>Maquina</th>
          <th>Fecha Registro</th>
          <th>Estado</th>
          <th>Historial</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-maquina>
        <tr>
          <td>{{ maquina.cantidad }}</td>
          <td>{{ maquina.name }}</td>
          <td>{{ maquina.date_compra }}</td>
          <td>{{ maquina.estado }}</td>
          <td>
            <button type="button" pButton pRipple>
              <mage-icon name="file-2"></mage-icon>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</section>