h3 {
    width: fit-content;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    margin: 0;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    div {
        label {
            display: block;
            color: black;
            font-size: 1.15rem;
        }

        input {
            margin-top: 4px;
            width: 100%;
            padding: 10px 14px;
        }

        textarea {
            margin-top: 4px;
            width: 100%;
            padding: 10px 14px;
        }
    }

}

:host ::ng-deep .p-dropdown {
    margin-top: 4px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;

    .p-inputtext {
        padding: 10px 14px;
        font-family: 'Montserrat', sans-serif;
        outline: none
    }
}

:host ::ng-deep .p-multiselect {
    margin-top: 4px;
    width: 100%;

    .p-multiselect-label-container {
        padding: 10px 14px;
        outline: none;

        .p-multiselect-label {
            padding: 0;
        }
    }
}

:host ::ng-deep .p-button {
    padding: 5px 60px;
    font-size: 16px;
    border-radius: 8px 0px 8px 8px;
}