<h3>Registro de Horario usuario</h3>

<form [formGroup]="horarioForm" (ngSubmit)="addHorario()">
  <div style="width: calc(50% - 10px)">
    <label for="rol_id" class="">Roles</label>
    <p-dropdown formControlName="rol_id" optionLabel="name" [options]="roles" placeholder="Seleccione un rol"
      [ngClass]="{ 'ng-dirty ng-invalid': horarioForm.getError('rol_id') }" />
    <small *ngIf="horarioForm.getError('rol_id')" class="ng-invalid text-red-600">
      {{ horarioForm.getError("rol_id") }}
    </small>
  </div>
  <div style="width: calc(50% - 10px)">
    <label for="dia_semana" class="">Dias de semana</label>
    <p-multiSelect formControlName="dia_semana" optionLabel="name" placeholder="Seleccione las maquinas"
                [showEmptyMessage]="true" emptyMessage="No hay maquinas disponibles"
                [ngClass]="{'ng-dirty ng-invalid': horarioForm.getError('dia_semana')}" [options]="dias"
                />
    <small *ngIf="horarioForm.getError('dia_semana')" class="ng-invalid text-red-600">
      {{ horarioForm.getError("dia_semana") }}
    </small>
  </div>
  <div style="width: calc(35% - 15px)">
    <label for="hora_inicio" class="">Hora de ingreso</label>
    <p-dropdown formControlName="hora_inicio" optionLabel="name" [options]="horas" placeholder="Seleccione una hora"
      [ngClass]="{ 'ng-dirty ng-invalid': horarioForm.getError('hora_inicio') }" />
    <small *ngIf="horarioForm.getError('hora_inicio')" class="ng-invalid text-red-600">
      {{ horarioForm.getError("hora_inicio") }}
    </small>
  </div>
  <div style="width: calc(35% - 15px)">
    <label for="hora_fin" class="">Hora de salida</label>
    <p-dropdown formControlName="hora_fin" optionLabel="name" [options]="horasSalida" placeholder="Seleccione una hora"
      [ngClass]="{ 'ng-dirty ng-invalid': horarioForm.getError('hora_fin') }" />
    <small *ngIf="horarioForm.getError('hora_fin')" class="ng-invalid text-red-600">
      {{ horarioForm.getError("hora_fin") }}
    </small>
  </div>
  <div style="width: calc(30% - 10px)">
    <label for="jornada" class="">Jornada</label>
    <p-dropdown formControlName="jornada" optionLabel="name" [options]="jornada" placeholder="Seleccione una hora"
      [ngClass]="{ 'ng-dirty ng-invalid': horarioForm.getError('jornada') }" />
    <small *ngIf="horarioForm.getError('jornada')" class="ng-invalid text-red-600">
      {{ horarioForm.getError("jornada") }}
    </small>
  </div>
  <div style="
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: end;
    margin: 10px 0;
  ">
    <p-button [outlined]="true" severity="secondary">Cancelar</p-button>
    <p-button type="submit" [outlined]="true" severity="contrast">Registrar</p-button>
  </div>
</form>