h3 {
    width: fit-content;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    margin: 0;
    background: linear-gradient(270deg, #2563EB 0%, #1779B3 6.64%, #059669 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    div {
        label {
            display: block;
            color: black;
            font-size: 1.15rem;
        }

        input {
            margin-top: 8px;
            width: 100%;
            padding: 1rem;
        }

        textarea {
            margin-top: 8px;
            width: 100%;
            padding: 1rem;
        }
    }

}

:host ::ng-deep .p-dropdown {
    margin-top: 8px;
    width: 100%;

    .p-inputtext {
        padding: 1rem;
        outline: none
    }
}

:host ::ng-deep .p-multiselect {
    margin-top: 8px;
    min-height: 49px;
    width: 100%;

    .p-multiselect-label-container {
        padding: 1rem;
        outline: none; 
        .p-multiselect-label{
            padding: 0;
        }
    }
}

button[type="submit"] {
    padding: 8px 80px;
    border: 1px solid var(--primary-color);
    font-size: 14px;
    color: white;
    background-color: var(--primary-color);
    border-radius: 10px 0px 10px 10px;
}

button[type="reset"] {
    padding: 8px 80px;
    border: 1.5px solid var(--primary-color);
    font-size: 14px;
    color: var(--primary-color);
    background-color: white;
    border-radius: 10px 0px 10px 10px;
}