<div class="container-disponibility">
  <span>Disponibilidad del Gimnasio</span>
  <p-progressBar [value]="50" />
</div>

<section class="conte-rutinas">
  <article class="rutina" *ngFor="let rutina of rutinas">
    <h5 >{{ rutina.name }}</h5>
    <div class="rutinas-info">
      <mage-icon name="clock" strokeWidth="2px" size="30px"></mage-icon>
      <p>{{ rutina.time }}</p>
    </div>
    <button pButton (click)="goToRutinaDetail(rutina.slug)" pRipple>
      <mage-icon name="plus" size="15px"></mage-icon>Ver Detalles
    </button>
  </article>
</section>