<!-- <div class="container-disponibility">
  <span>Disponibilidad del Gimnasio</span>
  <p-progressBar [value]="50" />
</div> -->

<section class="conte-rutinas">
  <article class="card-rutina" *ngFor="let rutina of rutinas">
    <div class="card-highlight"></div>
    <div class="card-content">
      <div class="card-header">
        <h3 class="card-title">{{ rutina.nombre }}</h3>
        <div class="card-icon">
          <mage-icon name="pulse" class="icon" size="20px"></mage-icon>
        </div>
      </div>
      <div class="card-stats">
        <div class="card-stat">
          <div class="stat-label">Intensidad</div>
          <div class="stat-value">{{ rutina.intensidad }}</div>
        </div>
        <div class="card-stat">
          <div class="stat-label">Ejercicios</div>
          <div class="stat-value">{{ rutina.cantidad_ejercicios }}</div>
        </div>
      </div>

      <Button pButton (click)="goToRutinaDetail(rutina.id)" pRipple class="card-button">
        Ver detalles
      </Button>
    </div>
  </article>
</section>