<h3>Registro de Horario entrenador</h3>

<form [formGroup]="horarioForm" (ngSubmit)="onSubmit()">
    <div style="width: calc(50% - 10px)">
        <label for="fecha">Fecha</label>
        <p-calendar styleClass="calendar" appendTo="body" id="fecha" dateFormat="dd-mm-yy" formControlName="fecha"
            [ngClass]="{'ng-dirty ng-invalid': horarioForm.getError('fecha')}" [showButtonBar]="true"
            placeholder="Seleccione una fecha" />
        <small *ngIf="horarioForm.getError('fecha')" class="ng-invalid text-red-600">
            {{ horarioForm.getError('fecha') }}
        </small>
    </div>
    <div style="width: calc(50% - 10px)">
        <label for="dia_semana">Dia Semana</label>
        <p-dropdown formControlName="dia_semana" optionLabel="name" [options]="dias"
            placeholder="Seleccione un dia de semana"
            [ngClass]="{'ng-dirty ng-invalid': horarioForm.getError('dia_semana')}" />
        <small *ngIf="horarioForm.getError('dia_semana')" class="ng-invalid text-red-600">
            {{ horarioForm.getError('dia_semana') }}
        </small>
    </div>
    <div style="width: calc(50% - 10px)">
        <label for="salida">Hora de inicio</label>
        <p-dropdown formControlName="franja_hora_inicio" optionLabel="name" [options]="horas"
            placeholder="Seleccione una hora"
            [ngClass]="{'ng-dirty ng-invalid': horarioForm.getError('franja_hora_inicio')}" />
        <small *ngIf="horarioForm.getError('franja_hora_inicio')" class="ng-invalid text-red-600">
            {{ horarioForm.getError('franja_hora_inicio') }}
        </small>
    </div>
    <div style="width: calc(50% - 10px)">
        <label for="franja_hora_fin">Hora de salida</label>
        <p-dropdown formControlName="franja_hora_fin" optionLabel="name" [options]="horasSalida"
            placeholder="Seleccione una hora"
            [ngClass]="{'ng-dirty ng-invalid': horarioForm.getError('franja_hora_fin')}" />
        <small *ngIf="horarioForm.getError('franja_hora_fin')" class="ng-invalid text-red-600">
            {{ horarioForm.getError('franja_hora_fin') }}
        </small>
    </div>
    <div style="
      display: flex;
      gap: 20px;
      width: 100%;
      justify-content: end;
      margin-top: 10px;
    ">
        <p-button type="reset" [outlined]="true" label="Cancelar" id="reset" />
        <p-button type="submit" label="Registrar" id="guardar" />
    </div>
</form>