<h3>Registro de Horario entrenador</h3>

<form [formGroup]="horarioForm" (ngSubmit)="onSubmit()">
    <div style="width: calc(33.33% - 13px)">
        <label for="usuario_id" class="">Cedula Usuario</label>
        <input id="usuario_id" type="text" placeholder="cédula"
            [ngClass]="{'ng-dirty ng-invalid': horarioForm.getError('usuario_id')}" formControlName="usuario_id"
            pInputText />
        <small *ngIf="horarioForm.getError('usuario_id')" class="ng-invalid text-red-600 block">
            {{ horarioForm.getError('usuario_id') }}
        </small>
    </div>
    <div style="width: calc(33.33% - 14px)">
        <label for="fecha">Fecha</label>
        <p-calendar styleClass="calendar" appendTo="body" id="fecha" dateFormat="dd-mm-yy" formControlName="fecha"
            [ngClass]="{'ng-dirty ng-invalid': horarioForm.getError('fecha')}" [showButtonBar]="true"
            placeholder="Seleccione una fecha" />
        <small *ngIf="horarioForm.getError('fecha')" class="ng-invalid text-red-600 block">
            {{ horarioForm.getError('fecha') }}
        </small>
    </div>
    <div style="width: calc(33.33% - 13px)">
        <label for="dia_semana">Dia Semana</label>
        <p-multiSelect formControlName="dia_semana" optionLabel="name" placeholder="Seleccione los días"
            [showEmptyMessage]="true" emptyMessage="No hay días disponibles"
            [ngClass]="{'ng-dirty ng-invalid': horarioForm.getError('dia_semana')}" [options]="dias" />
        <small *ngIf="horarioForm.getError('dia_semana')" class="ng-invalid text-red-600 block">
            {{ horarioForm.getError('dia_semana') }}
        </small>
    </div>
    <div style="width: calc(50% - 10px)">
        <label for="salida">Hora de inicio</label>
        <p-dropdown formControlName="franja_hora_inicio" optionLabel="name" [options]="horas"
            placeholder="Seleccione una hora"
            [ngClass]="{'ng-dirty ng-invalid': horarioForm.getError('franja_hora_inicio')}" />
        <small *ngIf="horarioForm.getError('franja_hora_inicio')" class="ng-invalid text-red-600 block">
            {{ horarioForm.getError('franja_hora_inicio') }}
        </small>
    </div>
    <div style="width: calc(50% - 10px)">
        <label for="franja_hora_fin">Hora de salida</label>
        <p-dropdown formControlName="franja_hora_fin" optionLabel="name" [options]="horasSalida"
            placeholder="Seleccione una hora"
            [ngClass]="{'ng-dirty ng-invalid': horarioForm.getError('franja_hora_fin')}" />
        <small *ngIf="horarioForm.getError('franja_hora_fin')" class="ng-invalid text-red-600 block">
            {{ horarioForm.getError('franja_hora_fin') }}
        </small>
    </div>
    <div style="
      display: flex;
      gap: 20px;
      width: 100%;
      justify-content: end;
      margin: 10px 0;
    ">
        <p-button [outlined]="true" severity="secondary">Cancelar</p-button>
        <p-button type="submit" [outlined]="true" severity="contrast">Registrar</p-button>
    </div>
</form>