<!-- componente loading -->
<div class="container-loading" *ngIf="cargar">
    <div class="transparent-div-loading"></div>
    <div class="centered-div-loading">
        <img src="../../../assets/images/loading.gif" alt="" style="width: 550px; height: 300px;">
    </div>
</div>

<!-- <p-toast key="tst" style="z-index: 10000;"></p-toast> -->
<p-toast key="tst" position="top-right"></p-toast>

<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="../../../../../assets/images/{{layoutService.config.colorScheme === 'light' ? 'logo_vertical' : 'logo_vertical_oscuro'}}.png"
            alt="Logo UTM" class="mb-5 w-14rem flex-shrink-0"
            style="margin-bottom: -25px !important; margin-top: -50px !important;">
        <div
            style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-4 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5" style="margin-bottom: -15px !important; margin-top: -15px !important;">
                    <img src="../../../../../assets/images/utm_unidos.png" alt="Image" height="75" class="mb-2">
                </div>

                <form nz-form [formGroup]="usuarioForm" class="form_login" (ngSubmit)="autenticar()">
                    <div>
                        <label for="email1" class="block text-900 text-xl font-medium mb-2">Usuario</label>
                        <input id="email1" type="text" placeholder="Ingrese su usuario (Cedula o Pasaporte)" pInputText
                            class="w-full md:w-30rem mb-5" style="padding:1rem" formControlName="usuario">

                        <label for="password1" class="block text-900 font-medium text-xl mb-2">Contraseña</label>
                        <p-password id="password1" placeholder="Ingrese su contraseña" [toggleMask]="true"
                            styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"
                            formControlName="password"></p-password>

                        <div class="flex align-items-center justify-content-between mb-5 gap-5">
                            <a class="font-medium no-underline ml-2 text-right cursor-pointer"
                                style="color: var(--primary-color)" (click)="clavetemporal()">Solicitar Clave
                                Temporal</a>
                        </div>

                        <button pButton pRipple label="Iniciar Sesión" class="w-full p-3 text-xl"
                            (click)="autenticar()"></button>
                    </div>
                </form>
            </div>
        </div>

        <div class="flex align-items-center justify-content-between mb-5 gap-5"
            style="margin-top: 20px; margin-left: -5px;">

            <a pButton *ngFor="let item of objetos_enlaces"
                class="font-medium no-underline ml-2 text-center cursor-pointer"
                style="color: #000; background: #FFCC33; border: 1px solid #FFCC33; padding: 10px; border-radius: 3px; font-weight: 600 !important;"
                target="_blank" href="{{item.enlace}}" title="{{item.texto}}"
                [class.disabled]="item.habilitado == 'N' ? true: null">{{item.nombre}}</a>
        </div>
    </div>
</div>

<p-dialog header="CRONOGRAMA NIVELACIÓN" [(visible)]="display_cronograma" [modal]="true" showEffect="fade"
    [style]="{width: '35vw'}" [breakpoints]="{'960px': '75vw'}">
    <p class="line-height-3 m-0" *ngFor="let item of parametros">
        <span
            [ngStyle]="item.estado == 0 ? { 'font-weight': 'normal' } : (item.estado == -1 ? { 'opacity': '0.4' } : { 'font-weight': '900', 'color': '#009933' })">{{item.detalle}}
            {{item.estado == 1 ? '(disponible)' : ''}}</span>
    </p>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-check" (click)="display_cronograma=false" label="Ok"
            class="p-button-outlined"></button>
    </ng-template>
</p-dialog>

<p-dialog header="Notificación" [(visible)]="display_mensajes" [modal]="true" showEffect="fade"
    [style]="{width: '40vw'}" [breakpoints]="{'960px': '75vw'}">
    <p class="line-height-3 m-0">
        <span class="texto">{{mensaje_modal}}</span>
    </p>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-check" (click)="display_mensajes=false" label="Ok"
            class="p-button-outlined"></button>
    </ng-template>
</p-dialog>

<p-dialog header="Notificación" [(visible)]="display_mensaje" [modal]="true" showEffect="fade" [style]="{width: '30vw'}"
    [breakpoints]="{'960px': '75vw'}">
    <p class="line-height-3 m-0">
        <span id="texto">{{mensaje}}</span>
    </p>
    <ng-template pTemplate="footer">
        <button pButton icon="pi pi-check" (click)="display_mensaje=false" label="Ok"
            class="p-button-outlined"></button>
    </ng-template>
</p-dialog>
