<div class="step-content">
  <h3 class="mb-1">Información de Agendamiento</h3>

  <p-timeline [value]="data" class="w-full md:w-20rem" align="left">
    <ng-template pTemplate="marker" let-event>
      <span
        class="flex w-3rem h-3rem align-items-center justify-content-center text-white border-circle z-1 shadow-1"
        [style]="{ 'background-color': 'var(--primary-color)' }"
      >
        <mage-icon size="24px" [name]="event.icon"></mage-icon>
      </span>
    </ng-template>
    <ng-template pTemplate="content" let-event>
      <p-card>
        <h4 class="font-bold">{{ event.title }}</h4>
        <div *ngIf="event.title == 'Agendamiento'; else pagoTemplate">
          <p>
            <strong>Fecha: </strong>{{ event.data.fecha | date : "dd/MM/yyyy" }}
          </p>
          <div class="flex gap-5">
            <p><strong>Hora Ingeso: </strong>{{ event.data.ingreso }}</p>
            <p><strong>Hora Salida: </strong>{{ event.data.salida }}</p>
          </div>
        </div>
        <ng-template #pagoTemplate>
          <div class="flex gap-5">
            <p>
              <strong>Método de Pago: </strong>{{ event.data.metodo_pago.name }}
            </p>
            <p>
              <strong>Monto: </strong>{{ event.data.monto | currency : "USD" }}
            </p>
          </div>
          <p><strong>Evidencia: </strong>{{ event.data.evidencia_pago }}</p>
        </ng-template>
      </p-card>
    </ng-template>
  </p-timeline>
  <div class="confirmation-message">
    <p>
      Por favor, revise que todos los datos sean correctos antes de finalizar.
    </p>
  </div>
</div>
