<header>
    <span>
        <mage-icon name="dashboard" size="24px"></mage-icon>
    </span>
    <h2>Panel de administración</h2>
</header>

<section class="section-cards">
    <article>
        <span id="icon" style="--bg-color: #BEDAFE; --text-color: #3B83F7;">
            <mage-icon name="chart-central" size="24px" strokeWidth="2px"></mage-icon>
        </span>
        <span id="number">150</span>
        <p>Total de Personas</p>
    </article>
    <article>
        <span id="icon" style="--bg-color: #FDE68A; --text-color: #F49F0B;">
            <mage-icon name="box-3d" size="24px" strokeWidth="2px"></mage-icon>
        </span>
        <span id="number">150</span>
        <p>Total de Maquinas</p>
    </article>
    <article>
        <span id="icon" style="--bg-color: var(--primary-color);  --text-color: var(--surface-overlay);">
            <mage-icon name="dollar" size="24px" strokeWidth="2px"></mage-icon>
        </span>
        <span id="number">$ 150</span>
        <p>Total de Pagos</p>
    </article>
    <article>
        <span id="icon" style="--bg-color: var(--primary-color); --text-color: var(--surface-overlay);">
            <mage-icon name="dollar" size="24px" strokeWidth="2px"></mage-icon>
        </span>
        <span id="number">$ 150</span>
        <p>Total de Mantenimiento</p>
    </article>
</section>

<section class="section-table">
    <header>
        <span>
            <mage-icon name="assignments" size="24px"></mage-icon>
        </span>
        <h3>Listado de Reservas</h3>
    </header>

    <div>
        <app-table-validaciones></app-table-validaciones>
    </div>
</section>