<section class="section-cards">
    <header>
        <span>
            <mage-icon name="dashboard" size="26px"></mage-icon>
        </span>
        <h1>Administrador</h1>
    </header>

    <div>
        <article>
            <span style="--bg-color: #BEDAFE; --text-color: #3B83F7;">
                <mage-icon name="chart-central" size="30px" strokeWidth="2px"></mage-icon>
            </span>
            <h4>150</h4>
            <p>Total de Personas</p>
        </article>
        <article>
            <span style="--bg-color: #FDE68A; --text-color: #F49F0B;">
                <mage-icon name="box-3d" size="30px" strokeWidth="2px"></mage-icon>
            </span>
            <h4>150</h4>
            <p>Total de Maquinas</p>
        </article>
        <article>
            <span style="--bg-color: var(--primary-color);  --text-color: var(--surface-overlay);">
                <mage-icon name="dollar" size="30px" strokeWidth="2px"></mage-icon>
            </span>
            <h4>150</h4>
            <p>Total de Pagos</p>
        </article>
        <article>
            <span style="--bg-color: var(--primary-color); --text-color: var(--surface-overlay);">
                <mage-icon name="dollar" size="30px" strokeWidth="2px"></mage-icon>
            </span>
            <h4>150</h4>
            <p>Total de pago de Mantenimiento</p>
        </article>
    </div>
</section>

<section class="section-table">
    <header>
        <span>
            <mage-icon name="dollar" size="26px"></mage-icon>
        </span>
        <h1 style="margin: auto 0px;  padding: 0px; font-size: 24px;">Reservas</h1>
    </header>

    <div style="width: --webkit-fill-available; padding-bottom: 20px;">
        <p-table [value]="asistencia" dataKey="tabla-agendamiento-registrados" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>rol</th>
                    <th>Fecha</th>
                    <th>tipo de pago</th>
                    <th>asistencia</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
                <tr>
                    <td>{{product.nombre}}</td>
                    <td>{{product.rol}}</td>
                    <td>{{product.fecha}}</td>
                    <td>{{product.tipopago}}</td>

                </tr>
            </ng-template>
        </p-table>
    </div>
</section>