<p-steps [model]="items" [readonly]="true" [activeIndex]="activeIndex" ></p-steps>

<div [hidden]="activeIndex !== 0">
  <app-agendamiento-info></app-agendamiento-info>
  <button pButton type="button" label="Siguiente" (click)="next()"></button>
</div>

<div [hidden]="activeIndex !== 1">
  <app-pago></app-pago>
  <button pButton type="button" label="Anterior" (click)="prev()"></button>
  <button pButton type="button" label="Siguiente" (click)="next()"></button>
</div>

<div [hidden]="activeIndex !== 2">
  <!-- <app-confirmacion></app-confirmacion> -->
  <button pButton type="button" label="Anterior" (click)="prev()"></button>
  <button pButton type="button" label="Finalizar" (click)="finalizar()"></button>
</div>
