:host ::ng-deep .p-steps {
    margin-bottom: 36px;
}

.container-form {
    border-radius: 12px;
    background-color: white;

    .div {
        justify-content: center;
    }
}

.button {
    width: 100%;
    display: flex;
    margin-top: 40px;
    justify-content: flex-end;

    button:nth-of-type(2) {
        margin-left: auto;
    }
}

:host ::ng-deep {
    .p-steps {
        ul {
            .p-steps-item {
                &:not(:last-child) {

                    /* Estilos que se aplicarán a TODOS excepto al último */
                    &::before {
                        border-radius: 99px;
                        border: 1.5px solid var(--primary-color);
                        width: 82%;
                        top: 50%;
                        left: 50%;
                        transform: translateX(10%);
                        /* Ejemplo: borde para todos menos el último */
                    }
                }

                /* El último item mantendrá sus estilos normales o puedes sobrescribirlos aquí */
                &:last-child::before {
                    border: none;
                }
            }
        }
    }

    .p-menuitem-link {
        &:not(.p-disabled):focus {
            outline: none;
            box-shadow: none !important;
        }

        min-width: 110px;
        background: transparent !important;

        &[aria-selected="true"] {
            .p-steps-number {
                height: 40px;
                width: 40px;
                border-radius: 5px;
                background: #F8D13C !important;
                color: #441f04;
                border: 1px solid #F8D13C;
            }
        }

        /* Estilos para cuando NO está seleccionado (false) */
        &[aria-selected="false"] {
            .p-steps-number {
                height: 40px;
                width: 40px;
                border-radius: 5px;
                background: #fff !important;
                /* Color diferente para no seleccionado */
                color: #F8D13C;
                border: 1px solid #F8D13C;
                /* content: 'Hola'; */
                /* Commenting out the content property */
            }
        }

    }

    button[label="Siguiente"],
    button[label="Agendar"] {
        max-width: min-content;
        background: transparent;
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
        box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.15);
        filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));

        &:hover,
        &:active {
            background: transparent;
            border: 2px solid var(--primary-color);
            color: var(--primary-color);
        }
    }

    button[label="Regresar"] {
        max-width: min-content;
        background: transparent;
        border: 2px solid #F8D13C;
        color: black;
        box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
        filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.3));

        &:hover,
        &:active {
            background: transparent;
            border: 2px solid #F8D13C;
            color: black;
        }
    }

    @media screen and (max-width: 576px) {

        button[label="Siguiente"],
        button[label="Agendar"],
        button[label="Regresar"] {
            padding: 7px 14px;
            font-size: 12px;
        }

        .p-steps>ul>.p-steps-item {
            position: relative !important;

            &:not(:last-child) {
                &::before {
                    width: 55%;
                    top: 85%;
                    left: 50%;
                    transform: translateX(32%);
                }
            }
        }

        .p-menuitem-link {
            min-width: 60px;

            .p-steps-number {
                height: 35px !important;
                width: 35px !important;
                font-size: 14px !important;
            }

            .p-steps-title {
                display: none;
            }

        }
    }
}