<p-table #dt [rowsPerPageOptions]="[5,10, 25, 50]" [rows]="5" [paginator]="true"
    currentPageReportTemplate="{first} - {last} de {totalRecords}" [filterDelay]="0" [showCurrentPageReport]="true"
    paginatorPosition="bottom" paginatorDropdownAppendTo="body" [showFirstLastIcon]="false"
    dataKey="mantenimientos-registradas" [tableStyle]="{ 'min-width': '50rem' }"
    [globalFilterFields]="['observaciones', 'estado', 'fecha_mantenimiento', 'costo']" [value]="mantenimientos">
    <ng-template pTemplate="caption">
        <div class="flex gap-3">
            <p-button [outlined]="true" (onClick)="clearFilter(globalFilter)">
                <mage-icon name="filter-remove" fill="currentColor" size="18px" />
            </p-button>
            <span class="p-input-icon-left ml-3" style="min-width: 320px;">
                <mage-icon name="search" class="pi"
                    style="left: 0.6rem; position: absolute;top: 50%;margin-top: -0.5rem;" fill="#868FA0"
                    size="14px"></mage-icon>
                <!-- <i class="pi pi-search"></i> -->
                <input #globalFilter pInputText type="text" (input)="applyFilter($event)" placeholder="Buscar..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="estado">
                Estado  <app-sort-icon [field]="'estado'" [sortField]="dt.sortField" [sortOrder]="dt.sortOrder" />
            </th>
            <th pSortableColumn="observaciones">
                Descripción <app-sort-icon [field]="'observaciones'" [sortField]="dt.sortField" [sortOrder]="dt.sortOrder" />
            </th>
            <th pSortableColumn="costo">
                Costo <app-sort-icon [field]="'costo'" [sortField]="dt.sortField" [sortOrder]="dt.sortOrder" />
            </th>
            <th pSortableColumn="fecha_mantenimiento">
                Fecha <app-sort-icon [field]="'fecha_mantenimiento'" [sortField]="dt.sortField" [sortOrder]="dt.sortOrder" />
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pago let-i="rowIndex">
        <tr>
            <td>
                <p-tag [value]="pago.estado" [severity]="getSeverity(pago.estado)" />
            </td>
            <td>
                {{ pago.observaciones }}
            </td>
            <td>
                {{ pago.costo | currency : "USD" }}
            </td>
            <td>
                {{ pago.fecha_mantenimiento | date:'dd/MM/yyyy' }}
            </td>
        </tr>
    </ng-template>
</p-table>