<div class="header">
    <h1 class="header-title">{{ data?.nombre }}</h1>
    <p class="header-description">{{ data?.descripcion }}</p>
</div>

<div class="exercises-grid">
    <div class="exercise-card" *ngFor="let maquina of data?.ejercicios">
        <div class="progress-bar"></div>

        <div class="exercise-content">
            <div class="exercise-header">
                <h3 class="exercise-title">{{ maquina.nombre }}</h3>
                <div class="exercise-badges">
                    <span class="badge badge-level">{{ maquina.nivel }}</span>
                    <p-menu appendTo="body" #menu [model]="items" [popup]="true">
                        <ng-template pTemplate="item" let-item>
                            <a type="button"
                                [ngClass]="item.icon === 'edit' ? 'text-primary': 'text-danger p-button-danger'"
                                (click)="item.action(maquina.id)" class="flex align-items-center p-menuitem-link">
                                <mage-icon [name]="item.icon" size="16px"></mage-icon>
                                <span class="ml-2">{{ item.label }}</span>
                            </a>
                        </ng-template>
                    </p-menu>
                    <p-button [text]="true" [rounded]="true" severity="success" (onClick)="menu.toggle($event)" icon="pi pi-ellipsis-v"></p-button>
                </div>
            </div>

            <p class="exercise-description">{{ maquina.descripcion }} </p>

            <div class="exercise-info">
                <div class="info-group">
                    <div class="info-item">
                        <mage-icon name="indicator" color="#10B981" class="icon" size="18px"></mage-icon>
                        <span>{{ maquina.series }} series</span>
                    </div>
                    <div class="info-item">
                        <mage-icon name="stats" color="#3B82F6" class="icon" size="18px"></mage-icon>
                        <span>{{ maquina.repeticiones }} reps</span>
                    </div>
                </div>
                <div class="info-group">
                    <div class="info-item">
                        <mage-icon name="dumbbell" color="#F59E0B" class="icon" size="18px"></mage-icon>
                        <span>{{ getItemsAsString(maquina.maquinas) }}</span>
                    </div>
                    <div class="info-item">
                        <mage-icon name="time-clock" color="#F43F5E" class="icon" size="18px"></mage-icon>
                        <span>{{ maquina.descanso }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<p-confirmDialog #cd>
    <ng-template pTemplate="headless" let-message>
        <div class="flex flex-column align-items-center p-5 surface-overlay border-round">
            <div style="background-color: red; color: white"
                class="border-circle bg-primary inline-flex justify-content-center align-items-center h-6rem w-6rem">
                <mage-icon name="delete" stroke="#D32F2F" size="16px"></mage-icon>
            </div>
            <span class="font-bold text-2xl block mb-2 mt-4">
                {{ message.header }}
            </span>
            <p class="mb-0">{{ message.message }}</p>
            <div class="flex align-items-center gap-2 mt-4">
                <button pButton label="Save" (click)="cd.accept()" class="w-8rem">
                </button>
                <button pButton label="Cancel" (click)="cd.reject()" class="p-button-outlined w-8rem ">
                </button>
            </div>
        </div>
    </ng-template>
</p-confirmDialog>

<p-dialog header="Actualizar ejercicio" [(visible)]="visible" [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
    [resizable]="false">
    <form [formGroup]="updatedEjercicioForm" (ngSubmit)="updatedEjercicio()">
        <input type="hidden" name="id" formControlName="id" />
        <div style="width: calc(50% - 10px)">
            <label for="maquinas" class="">Maquinas</label>
            <p-multiSelect formControlName="maquinas" optionLabel="name" placeholder="Seleccione las maquinas"
                [showEmptyMessage]="true" emptyMessage="No hay maquinas disponibles"
                [ngClass]="{'ng-dirty ng-invalid': updatedEjercicioForm.getError('maquinas')}" [options]="maquinas"
                [(ngModel)]="selectedMaquina" />
            <small *ngIf="updatedEjercicioForm.getError('maquinas')" class="ng-invalid text-red-600">
                {{ updatedEjercicioForm.getError('maquinas') }}
            </small>
        </div>
        <div style="width: calc(50% - 10px)">
            <label for="nombre" class="">Nombre ejercicio</label>
            <input id="nombre" type="text" placeholder=""
                [ngClass]="{'ng-dirty ng-invalid': updatedEjercicioForm.getError('nombre')}" formControlName="nombre"
                pInputText />
            <small *ngIf="updatedEjercicioForm.getError('nombre')" class="ng-invalid text-red-600">
                {{ updatedEjercicioForm.getError('nombre') }}
            </small>
        </div>

        <div style="width: calc(50% - 10px)">
            <label for="nivel" class="">Nivel</label>
            <p-dropdown formControlName="nivel" optionLabel="name" [options]="Niveles" placeholder="Seleccione un nivel"
                [ngModel]="Niveles[0]" [ngClass]="{'ng-dirty ng-invalid': updatedEjercicioForm.getError('nivel')}" />
            <small *ngIf="updatedEjercicioForm.getError('nivel')" class="ng-invalid text-red-600">
                {{ updatedEjercicioForm.getError('nivel') }}
            </small>
        </div>

        <div style="width: calc(33.33% - 14px)">
            <label for="nombre" class="">Repeticiones</label>
            <input id="repeticiones" type="text" placeholder=""
                [ngClass]="{'ng-dirty ng-invalid': updatedEjercicioForm.getError('repeticiones')}"
                formControlName="repeticiones" pInputText />
            <small *ngIf="updatedEjercicioForm.getError('repeticiones')" class="ng-invalid text-red-600">
                {{ updatedEjercicioForm.getError('repeticiones') }}
            </small>
        </div>

        <div style="width: calc(33.33% - 13px)">
            <label for="series" class="">Series</label>
            <input id="series" type="text" placeholder=""
                [ngClass]="{'ng-dirty ng-invalid': updatedEjercicioForm.getError('series')}" formControlName="series"
                pInputText />
            <small *ngIf="updatedEjercicioForm.getError('series')" class="ng-invalid text-red-600">
                {{ updatedEjercicioForm.getError('series') }}
            </small>
        </div>

        <div style="width: calc(33.33% - 13px)">
            <label for="descanso" class="">Descanso</label>
            <input id="descanso" type="text" placeholder=""
                [ngClass]="{'ng-dirty ng-invalid': updatedEjercicioForm.getError('descanso')}"
                formControlName="descanso" pInputText />
            <small *ngIf="updatedEjercicioForm.getError('descanso')" class="ng-invalid text-red-600">
                {{ updatedEjercicioForm.getError('descanso') }}
            </small>
        </div>
        <div style="width: -webkit-fill-available">
            <label for="descripcion" class="">Descripción</label>
            <textarea id="descripcion" pInputTextarea [autoResize]="true" formControlName="descripcion" rows="3"
                [ngClass]="{'ng-dirty ng-invalid': updatedEjercicioForm.getError('descripcion')}"></textarea>
            <small *ngIf="updatedEjercicioForm.getError('descripcion')" class="ng-invalid text-red-600">
                {{ updatedEjercicioForm.getError('descripcion') }}
            </small>
        </div>
        <div style="
          display: flex;
          gap: 20px;
          width: 100%;
          justify-content: end;
          margin-top: 10px;
        ">
            <p-button (onClick)="closedDialog()" [outlined]="true" label="Cancelar" />
            <p-button type="submit" label="Actualizar" id="guardar" />
        </div>
    </form>
</p-dialog>