<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="/">
        <img src="../../assets/images/logo_horizonta.png" alt="logo" >
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <div style="display: flex; align-items: center;">
            <span class="mb-2 mt-2">Bienvenido, {{nombre_usuario | lowercase | titlecase}}</span>
        </div>
        <p-menu appendTo="body" #menu [model]="roles" [popup]="true">
            <ng-template pTemplate="item" let-item>
                <a type="button" [ngClass]="item.icon === 'edit' ? 'text-primary': 'text-danger p-button-danger'"
                    (click)="item.action(item.id)" class="flex align-items-center p-menuitem-link">
                    <span class="ml-2">{{ item.label | lowercase | titlecase }}</span>
                </a>
            </ng-template>
        </p-menu>

        <button [style]="{ 'display': roles.length === 0 ? 'none': '' }" class="p-link layout-topbar-button" (click)="menu.toggle($event)">
            <mage-icon name="user-switch"></mage-icon>
            <span>Cambiar Rol</span>
        </button>
        <button class="p-link layout-topbar-button" (click)="cerrarSesion()">
            <mage-icon name="logout"></mage-icon>
            <span>Cerrar Sesion</span>
        </button>

    </div>
</div>