<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="nivelacion/terminos_condiciones">
        <img src="../../assets/images/logo_horizontal_oscuro.png"
            alt="logo" style="">
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <a class="layout-topbar-logo-utm-unidos" routerLink="nivelacion/terminos_condiciones">
        <img src="../../assets/images/utm_unidos.png" alt="logo">
    </a>

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <div style="display: flex; align-items: center;">
            <span>Bienvenido, {{nombre_usuario}}</span>
        </div>

        <button class="p-link layout-topbar-button" (click)="cambiar_modo_oscuro()">
            <i class="pi" [ngClass]="layoutService.config.colorScheme === 'light' ? 'hgi-stroke hgi-moon-02' : 'hgi-stroke hgi-sun-03'"></i>
            <span>Claro/Oscuro </span>
        </button>
        <button class="p-link layout-topbar-button" (click)="cerrarSesion()"> 
            <i class="pi pi-sign-out"></i>
            <span>Cerrar Sesion</span>
        </button>
        <!-- <p-menu #menu [model]="cerrar_sesion" [popup]="true"></p-menu> -->

    </div>
</div>